

  <div class="row">
    <div class="col-md-8">
      <card cardTitle="Professionnel" >

        <div class="search-group pull-right">
          <input type="text" class="search-input" placeholder="Rechercher" [(ngModel)]="filter" (keyup)="filterDefineColumn()">
          <button class="search-btn">
            <i class="fa fa-search fa-fw"></i>
          </button>
        </div>
        <br>
        <br>
        <br>
        <div class="table-responsive">
          <table class="table new-table-bordered table-hover"  >
            <thead>
            <tr>
              <th>#</th>
              <th [class.active]="order === 'nom'" (click)="setOrder('nom')" >
                NOM
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </th>
              <th [class.active]="order === 'prenom'" (click)="setOrder('prenom')">
                PRENOM
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </th>
              <th [class.active]="order === 'profession'" (click)="setOrder('profession')">PROFESSION
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </th>
              <th [class.active]="order === 'dateValidationSuggestion'" (click)="setOrder('adresseMail')">DATE VALIDATION
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </th>
              <th [class.active]="order === 'telephone'" (click)="setOrder('telephone')">TELEPHONE
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let personne of personnes | orderBy: order :reverse|filterTable:filtercolumn  | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber}; let index = index" (click)="openModal(detailPersonModal,personne)" style="cursor: pointer">
              <td>{{index+1}}</td>
              <td>{{personne?.nom}}</td>
              <td>{{personne?.prenom}}</td>
              <td>{{personne?.profession}}</td>
              <td>{{personne?.dateValidationSuggestion | date:'dd/MM/yyyy: HH:mm'}}</td>
              <td>{{personne?.telephone}}</td>

            </tr>
            </tbody>
          </table>
        </div>
        <form class="pagination-wrapper">
          <div class="form-group pages">
            <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                                 autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                 screenReaderCurrentLabel="You're on page">
            </pagination-controls>
          </div>
          <div class="form-group options pages">
            <div class="input-group input-group-sm">
              <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" >
                <option>1</option>
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
                <option>200</option>
              </select>
              <span class="input-group-addon addon-right">Per Page</span>
            </div>
          </div>
        </form>
      </card>
    </div>
    <div class="col-md-3">
      <div class="row">
        <card>
          <div class=" animated fadeIn">
            <div class="card card-block tip-card">
              <div class="tip-msg">
                <h3>Ciblez </h3>
                <span>Un Professionnel</span>
              </div>
              <button class="tip-ico tip-ico-primary" (click)="addPersonne(formPersonModal)" style="color: rosybrown">
                <!-- <i class="fa fa-group fa-fw"></i> -->
                <i class="fas fa-user-plus"></i>
              </button>
            </div>
          </div>
        </card>
      </div>
      <div class="row">
          <card cardTitle="Taches prévues" isCollapse="true">
            <app-du-todolist type="Professionnel"></app-du-todolist>
          </card>
      </div>
    </div>
  </div>

<modal #formPersonModal [closeOnEscape]="false" [closeOnOutsideClick]="false"  modalClass="modal-lg">
  <modal-header>
    <h3 class="text-center">Professionnel</h3>
  </modal-header>
  <modal-content>
    <app-personneForm [personne]="personne" [personnes]="personnes" (back)="closeParent(detailPersonModal, $event)"  ></app-personneForm>
  </modal-content>
  <modal-footer>
    <button class="btn btn-danger" (click)="closeModal(formPersonModal)" style="border-radius: 15px">fermer</button>
  </modal-footer>
</modal>

<modal #detailPersonModal [closeOnEscape]="false" [closeOnOutsideClick]="false"  >
  <modal-content>
    <app-personne-detail [personne]="personne" [personnes]="personnes" (back)="closeParent(formPersonModal, $event)"  (delete)="closeModalAndNavigate(detailPersonModal, $event)" ></app-personne-detail>
  </modal-content>

</modal>
