
<form class="form-group center-block" [formGroup]="formSousDomaine" (submit)="onSubmitSousDomaine(sousDomaine)">
  <div class="col-md-3">
  </div>
  <div class="col-md-5">
    <input type="text" [(ngModel)]="sousDomaine.libelle" formControlName="libelle" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Valider</button>
</form>


