<div class="card">
  <div class="profile-wrap animated fadeIn">
    <div class="info-wrap">
      <div class="avatar-wrap">
        <img src="{{avatarImgSrc}}" alt="avatar">
      </div>
      <span class="user-name">{{userName}}</span>
      <span class="user-post">{{userPost}}</span>
      <span class="map-location">
        <i class="fa fa-map-marker"></i>
        <span style=" color: black">Dakar, Diamniadio</span>
      </span>
    </div>
    <div class="profile-head">
      <img src="{{avatarImgSrc}}" alt="profile-head-bg" class="profile-head-bg">
    </div>
    <div class="profile-foot">
      <h4 style="font-family: 'Roboto', helvetica, arial, sans-serif">PROSPECTIONS</h4>
      <h4 style="font-size: xx-small; font-family: Calibri;">Demarrer un moteur !</h4>
      <ul class="contact-way-item">
        <li class="contact-way-list">
              <select (change)="onSelect($event.target.value)" name="select" id="select1" class="form-control">
                <option disabled selected>Choisir</option>
                <option value="informatique">Informatique</option>
                <option value="automobile">Automobile</option>
                <option value="services-de-telecommunication">Services de Télécommunication</option>
                <option value="education">Education</option>
              </select>
              <a (click)="prospectonsJumia()" class="info-icon fa fa-bank viewpic"><span><img src="assets/images/jumia_jobs.jpg" width="300px" height="250px" style="border-radius: 100%"></span></a>
        </li>
        <li class="contact-way-list">
          <select (change)="onSelect($event.target.value)" name="select" id="select2" class="form-control">
            <option disabled selected>Choisir</option>
            <optgroup label="TIC">
                <option value="antennes-paraboliques-equipements">Antennes paraboliques équipement</option>
                <option value="informatique">Informatique</option>
                <option value="business-center">Business-center</option>
                <option value="centres-d-appels">Centre d'appel</option>
                <option value="informatique-consultants">Informatique consultants</option>
                <option value="informatique-environnement">Informatique environnement</option>
                <option value="informatique-expertises">Informatique expertise</option>
                <option value="informatique-formation">Informatique formation</option>
                <option value="informatique-gestion-de-maintenance-systeme">Informatique, Gestion de maintenance système</option>
                <option value="informatique-ingenierie">Informatique, Ingénierie</option>
                <option value="informatique-reseaux">Informatique, Réseaux</option>
                <option value="informatique-securite">Informatique, Sécurité</option>
                <option value="internet-provider">Internet, Provider</option>
                <option value="internet-web-design">Internet, Web Design</option>
                <option value="radio-communication">Radio-Communication</option>
                <option value="technologies-nouvelles-consultants">TIC, Consultants</option>
                <option value="telecommunications-telephonie">Télécom, Téléphonie</option>
                <option value="telecommunications-fibres-optique">Télécom, Fibres optiques</option>
                <option value="telecommunications-installation-maintenance">Télécom, Installation maintenance</option>
                <option value="telecommunications-mobiles">Télécom, Mobiles</option>
                <option value="telecommunications-regulation-des-telecoms">Télécom, Régulation des télécommunications</option>
                <option value="telecommunications-reseaux-d-entreprises">Télécom, Réseaux des entreprises</option>
            </optgroup>
            <optgroup label="AUTOMOBILES">
              <option value="automobiles-concessionnaires">Automobiles et Concessionnaires</option>
              <option value="automobiles-constructeurs">Automobiles et Constructeurs</option>
              <option value="automobiles-controle-technique">Automobiles, contrôles techniques</option>
              <option value="automobiles-expertises">Automobiles, Expertises</option>
              <option value="dieselistes">Dieseliste</option>
              <option value="garages">Garage</option>
              <option value="mecanique-generale">Mécanique Générale</option>
              <option value="mecanique-industries">Mécanique Industrielle</option>
              <option value="moteurs-pompes">Moteurs pompes</option>
              <option value="pneumatiques">Pneumatiques</option>
              <option value="vehicules-industriels">Véhicules industrielles</option>
            </optgroup>
          </select>
          <a (click)="prospectonsPagesJaunes()" class="info-icon fa fa-bank viewpic"><span><img src="assets/images/pja.png" width="300px" height="250px" style="border-radius: 100%"></span></a>
        </li>
        <li class="contact-way-list">
          <select (change)="onSelect($event.target.value)" name="select" id="select3" class="form-control">
            <option disabled selected>Choisir</option>
            <option value="tic-senegal">TIC</option>
            <option value="automobile">Automobile</option>
            <option value="services-de-telecommunication">Services de Télécommunication</option>
            <option value="education">Education</option>
          </select>
          <a (click)="prospectonsSunuEntreprises()" class="info-icon fa fa-bank viewpic"><span><img src="assets/images/sunuEntreprises.jpg" width="300px" height="250px" style="border-radius: 100%"></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
