<div class="row">
  <div class="col-sm-12">

    <!--      Wizard container        -->
    <div class="wizard-container" >
      <div class="card wizard-card" data-color="green" id="wizard">
        <form>
          <!--        You can switch " data-color="green" "  with one of the next bright colors: "blue", "azure", "orange", "red"       -->

          <div class="wizard-header">
            <h3 class="wizard-title">Partenariat</h3>
            <p class="category">Information sur les partenaires et les évènements</p>
          </div>
          <div class="wizard-navigation">
            <div class="progress-with-circle">
              <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;">

              </div>
            </div>
            <ul>
              <li>
                <a href="#evenement" data-toggle="tab">
                  <div class="icon-circle">
                    <i class="ti-agenda"></i>
                  </div>
                  Historique
                </a>
              </li>
              <li>
                <a href="#entreprise" data-toggle="tab">
                  <div class="icon-circle">
                    <i class="ti-trello"></i>
                  </div>
                  Organisations
                </a>
              </li>
              <li>
                <a href="#personne" data-toggle="tab">
                  <div class="icon-circle">
                    <i class="ti-user"></i>
                  </div>
                  Professionel
                </a>
              </li>

            </ul>
          </div>
          <div class="tab-content">
            <!-- premier -->
            <div class="tab-pane" id="evenement">
              <div class="row">
                <div class="col-md-12">

                  <vertical-timeline>

                    <!-- Add some cards to the timeline. It works with *ngFor too -->

                    <!-- If no value is passed for the date, the current time is used. -->

                    <vertical-timeline-card *ngFor="let even of evenements | paginate: { id: 'pager3', itemsPerPage: 4, currentPage: p}" [dateValue]="even?.dateEvenement ">
                      {{getIntermediaireType(even?.intermediaire?.cible?.nomEntreprise)}}
                      <h3 *ngIf="isEntreprise">{{even?.intermediaire?.cible?.nomEntreprise }}</h3>
                      <h3 *ngIf="isProfessionel">{{even?.intermediaire?.cible?.prenom }} {{even?.intermediaire?.cible?.nom }}</h3>

                      <div style="text-align: center" class="panel panel-danger">
                        <div class="page-heading"> <strong>Objectifs</strong></div>
                        <div class="panel-body">
                          <div *ngFor="let objectif of even?.objectif">{{objectif}}</div>
                        </div>
                      </div>
                      <div class="text-danger">{{even?.type}}</div>

                    </vertical-timeline-card>
                    <pagination-controls class="my-pagination" id="pager3" (pageChange)="p=$event" directionLinks="true"
                                         previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                         screenReaderCurrentLabel="You're on page">
                    </pagination-controls>

                  </vertical-timeline>
                </div>




              </div>
            </div>
            <!-- fin premier -->
            <div class="tab-pane" id="entreprise">
              <div class="row">
                <div class="row" >
                  <div class="col-md-12">

                    <card cardTitle="ENTREPRISE">

                      <div>
                        <div class="search-group pull-right ">
                          <input type="text" class="search-input" placeholder="Rechercher"  (keyup)="filterDefineColumnEntreprise()" [(ngModel)]="filter" [ngModelOptions]="{standalone: true}">
                          <button class="search-btn">
                            <i class="fa fa-search fa-fw"></i>
                          </button>
                        </div>
                      </div>
                      <div style="overflow-x:auto; width: 100%">
                        <table class="table new-table-bordered table-hover " style="">
                          <thead>
                          <tr>
                            <th>Numero</th>
                            <th>Nom</th>
                            <th>Date de début du partenaire</th>
                            <th>Adresse Mail</th>
                            <th>Téléphone</th>
                            <th>Projet de partenariat</th>
                            <th>Retrograder</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr *ngFor="let item of intermediairesEnt|filterTable:filtercolumn  | paginate: { id: 'pagerE', itemsPerPage: pageSize, currentPage: pa} ;let index = index">

                          <td>{{index + 1 }}</td>
                          <td>{{item?.cible?.nomEntreprise}}</td>
                          <td>{{item?.dateDebutPartenariat | date: 'dd-MM-yyyy'}}</td>
                          <td>{{item?.cible?.adresseMail}}</td>
                          <td> {{item?.cible?.telephone}}</td>
                          <td>
                            <span class="label label-info" style="cursor: pointer" (click)="onDetail(item?.idPartenaire, 'entreprise')">Coup d'oeil</span>
                          </td>
                          <td ><i class=" fa fa-trash-o icon-action-danger" style="cursor: pointer" (click)="onDelete(item)"></i></td>

                          </tr>

                          </tbody>
                        </table>
                      </div>
                      <form class="pagination-wrapper">
                        <div class="form-group pages">
                          <pagination-controls class="my-pagination" id="pagerE" (pageChange)="pa=$event" maxSize="9" directionLinks="true"
                                               autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                               screenReaderCurrentLabel="You're on page">
                          </pagination-controls>
                        </div>
                        <div class="form-group options pages">
                          <div class="input-group input-group-sm">
                            <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="intermediairesEnt">
                              <option>1</option>
                              <option>5</option>
                              <option>10</option>
                              <option>20</option>
                              <option>50</option>
                              <option>100</option>
                              <option>200</option>
                            </select>
                            <span class="input-group-addon addon-right">Taille de la liste</span>
                          </div>
                        </div>
                      </form>
                    </card>
                  </div>

                </div>
              </div>
            </div>
            <div class="tab-pane" id="personne">

              <div class="row">
                <div class="col-md-12">
                  <card cardTitle="Partenaire Professionnel">
                    <div class="search-group pull-right">
                      <input type="text" class="search-input" placeholder="Rechercher" [(ngModel)]="filter" (keyup)="filterDefineColumnPersonne()" [ngModelOptions]="{standalone: true}">
                      <button class="search-btn">
                        <i class="fa fa-search fa-fw"></i>
                      </button>
                    </div>
                    <div style="overflow-x:auto; width: 100%">
                      <table class="table new-table-bordered table-hover">
                        <thead>
                        <tr>
                          <th>Identifiant</th>
                          <th>Prénom</th>
                          <th>Nom</th>
                          <th>Date du projet de partenariat</th>
                          <th>Adresse mail</th>
                          <th>Téléphone</th>
                          <th>Projet de partenariat</th>
                          <th>Retrograder</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let item of intermediairesPer|filterTable:filtercolumn  | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber} ;let index = index">

                        <td>{{index + 1 }}</td>
                        <td>{{item?.cible?.prenom}}</td>
                        <td>{{item?.cible?.nom}}</td>
                        <td>{{item?.dateDebutPartenariat | date: 'dd-MM-yyyy'}}</td>
                        <td>{{item?.cible?.adresseMail}}</td>
                        <td> {{item?.cible?.telephone}}</td>
                        <td>
                          <a class="label label-info btn" (click)="onDetail(item?.idPartenaire, 'personne')">Coup d'oeil</a>
                        </td>
                        <td >
                          <i class=" fa fa-trash-o icon-action-danger" (click)="onDelete(item)" style="cursor: pointer"></i>
                        </td>

                        </tr>

                        </tbody>
                      </table>
                    </div>
                    <form class="pagination-wrapper">
                      <div class="form-group pages">
                        <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                                             autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                             screenReaderCurrentLabel="You're on page">
                        </pagination-controls>
                      </div>
                      <div class="form-group options pages">
                        <div class="input-group input-group-sm">
                          <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
                            <option>1</option>
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                            <option>200</option>
                          </select>
                          <span class="input-group-addon addon-right">Taille de la liste</span>
                        </div>
                      </div>
                    </form>
                  </card>
                </div>



              </div>
            </div>

          </div>

        </form>
      </div>
    </div> <!-- wizard container -->
  </div>
</div> <!-- row -->


<div class="row">
</div>
