<div class="pages-wrap">
  <pages-top></pages-top>
  <div class="pages-body">
   <sidebar></sidebar>

    <div class="pages-content">
      <content-top></content-top>
      <router-outlet></router-outlet>
      <notification></notification>
    </div>

    <right-config></right-config>
  </div>
</div>
