
  <h3 >Select multiple cities</h3>
  <div >
    <ng-select [multiple]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
      (removed)="removed($event)" placeholder="No city selected"></ng-select>
  </div>
  <div >
    <pre>{{itemsToString(value)}}</pre>
  </div>
