
$gray-input-bg:              #F3F2EE !default;
$gray-input-outline:         #e8e7e3 !default;
$border-radius-base:             4px !default;
$font-color:                 #66615b !default;
$font-size-base:               14px !default;
$white-bg:                   #FFFFFF !default;
$border-radius-large:           6px !default;
$medium-gray:                #cfcfca !default;
$success-color:              #283442;
  //#7AC29A !default;
$danger-input-bg:            #FFC0A4 !default;
$danger-color:               #EB5E28 !default;
$padding-large-vertical:       11px !default;
$padding-large-horizontal:     30px !default;
$white-color:                #FFFFFF !default;
$light-gray:                 #E3E3E3 !default;
$dark-gray:                  #9A9A9A !default;

$form-placeholder-color:     rgba(0,0,0,.2) !default;
$border-thin:                1px !default;
$padding-base-vertical:         7px !default;
$padding-base-horizontal:       18px !default;
$height-base:                  40px !default;
$padding-round-vertical:        9px !default;
$padding-round-horizontal:     18px !default;
$padding-small-vertical:        4px !default;
$padding-small-horizontal:     10px !default;
$padding-xs-vertical:           2px !default;
$padding-xs-horizontal:         5px !default;
$font-weight-normal:         400 !default;
$margin-large-vertical:        30px !default;
$margin-base-vertical:         15px !default;

$border-radius-btn-small:      26px !default;
$border-radius-btn-base:       20px !default;
$border-radius-btn-large:      50px !default;
$border-radius-extreme:        6px !default;
$card-black-color:          #252422 !default;
$border-radius-none:            0px !default;
$border-radius-small:           3px !default;
$border-radius-none-top:      $border-radius-none $border-radius-none 0 0 !default;
$border-radius-small-top:     $border-radius-small $border-radius-small 0 0 !default;

$border-thick:               2px !default;
$transparent-bg:             transparent !default;
$default-color:              #66615B !default;
$default-states-color:       darken($default-color,11%) !default;
$fill-font-color:            rgba(255, 255, 255, 0.85);

$fast-transition-time:           150ms !default;

$primary-color:              #7A9E9F !default;
$primary-states-color:       darken($primary-color,11%) !default;

$success-states-color:       darken($success-color,11%) !default;

$info-color:                 #68B3C8 !default;
$info-states-color:          darken($info-color,11%) !default;

$warning-color:              #F3BB45 !default;
$warning-states-color:       darken($warning-color,11%) !default;

$danger-states-color:        darken($danger-color,11%) !default;

$none:                       0   !default;

$font-size-large:              18px !default;
$font-size-h1:                 3.2em   !default;
$font-size-h2:                 2.6em     !default;
$font-size-h3:                 1.825em !default;
$font-size-h4:                 1.5em   !default;
$font-size-h5:                 1.25em  !default;
$font-size-h6:                 0.9em   !default;
$font-paragraph:               16px    !default;
$font-size-navbar:             16px    !default;
$font-size-small:              12px    !default;
$font-size-xs:                 12px !default;

$font-weight-light:          300 !default;
$font-weight-normal:         400 !default;
$font-weight-semi:           500 !default;
$font-weight-bold:           600 !default;

$line-height-general:          1.4em !default;
$line-height-small:            20px !default;




$color-azure:                #23CCEF;
$color-red:                  #FB404B;
$color-green:                #7AC29A;
$color-orange:               #FFA534;
$color-blue:                 #447DF7;
