@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style
*
* ======================================================= */
body {
  font-family: "Space Mono", Arial, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #8BC34A;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #8BC34A;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Space Mono", Arial, serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}



::-moz-selection {
  color: #fff;
  background: #8BC34A;
}

::selection {
  color: #fff;
  background: #8BC34A;
}

#fh5co-container {
  width: 100%;
  float: left;
  height: 900px;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.countdown-wrap, .bg-cover {
  width: 50%;
  float: left;
  background: #232325;
}
@media screen and (max-width: 992px) {
  .countdown-wrap, .bg-cover {
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .countdown-wrap, .bg-cover {
    width: 100%;
  }
}

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .bg-cover {
    display: none;
  }
}

.fh5co-nav {
  margin-bottom: 3em;
}
@media screen and (max-width: 768px) {
  .fh5co-nav {
    padding: 20px 0;
  }
}
.fh5co-nav #fh5co-logo {
  font-size: 20px;
  margin: 20px 0 0 0;
  padding: 0;
  line-height: 40px;
  font-family: "Space Mono", Arial, serif;
  font-weight: bold;
  text-transform: uppercase;
}
.fh5co-nav a {
  color: #fff;
  position: relative;
}

.fh5co-social-icons {
  margin: 0;
  padding: 0;
}
.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #8BC34A;
  padding-left: 10px;
  padding-right: 10px;
}
.fh5co-social-icons li a i {
  font-size: 20px;
}
.fh5co-social-icons li a:hover, .fh5co-social-icons li a:focus {
  color: #fff;
}

form label {
  font-weight: normal !important;
}

.display-t {
  display: table;
  min-height: 700px;
  margin: 0 auto;
}
.display-t .display-tc {
  display: table-cell !important;
  vertical-align: middle;
  min-height: 700px;
}
.display-t .display-tc h1, .display-t .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}
.display-t .display-tc h1 {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 1.5;
  font-family: "Space Mono", Arial, serif;
  font-weight: 300;
}
@media screen and (max-width: 992px) {
  .display-t .display-tc h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .display-t .display-tc h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 480px) {
  .display-t .display-tc h1 {
    font-size: 22px;
  }
}
.display-t .display-tc h2 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}
@media screen and (max-width: 480px) {
  .display-t .display-tc h2 {
    font-size: 16px;
  }
}
.display-t .display-tc .btn {
  padding: 15px 20px;
  background: #8BC34A !important;
  color: #fff;
  border: none !important;
  font-size: 14px;
  text-transform: uppercase;
}
.display-t .display-tc .btn:hover {
  background: #8BC34A !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}
.display-t .display-tc p {
  color: rgba(255, 255, 255, 0.7);
}
.display-t .display-tc .fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.display-t .display-tc .fh5co-social-icons li a i {
  font-size: 30px;
}

#fh5co-header-subscribe {
  float: left;
  width: 100%;
  margin-bottom: 3em;
}
#fh5co-header-subscribe #email {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  border: transparent;
  margin-right: -5px;
  width: 400px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
@media screen and (max-width: 992px) {
  #fh5co-header-subscribe #email {
    width: 90% !important;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center !important;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
  }
}
#fh5co-header-subscribe button {
  margin-top: .3em;
  padding: 1.26em !important;
  margin-left: -5px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
@media screen and (max-width: 992px) {
  #fh5co-header-subscribe button {
    width: 90%;
    margin: 0 auto;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
  }
}

.simply-countdown {
  /* The countdown */
  margin-top: 3em;
  margin-bottom: 3em;
}

.simply-countdown > .simply-section {
  /* coutndown blocks */
  display: inline-block;
  width: 120px;
  height: 120px;
  background: rgba(255, 255, 255, 0.2);
  margin: 0 5px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.simply-countdown > .simply-section > div {
  /* countdown block inner div */
  display: table-cell;
  vertical-align: middle;
  height: 115px;
  width: 120px;
}

:host /deep/ .simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  color: #213a53;
  /* amounts and words */
}

:host /deep/ .simply-countdown > .simply-section .simply-amount {
  font-size: 40px;
  /* amounts */
}

.simply-countdown > .simply-section .simply-word {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-size: 12px;
  /* words */
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Space Mono", Arial, serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #8BC34A;
  color: #fff;
  border: 2px solid #8BC34A;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #97c95d !important;
  border-color: #97c95d !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #8BC34A;
  border: 2px solid #8BC34A;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #8BC34A;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #8BC34A;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}



.js .animate-box {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
