<div class="col-md-12">
    <card cardTitle="Representant">
      <form class="form-group" [formGroup]="formRepresentant" (submit)="onSubmit()">
        <label class="control-label" ><h4>Nom</h4></label>
        <input type="text" class="form-control"  placeholder= "Nom" [(ngModel)]="representantTmp.nom" formControlName="nom">
        <label class="control-label" ><h4>Prenom</h4></label>
        <input type="text" class="form-control"  placeholder= "Prenom" [(ngModel)]="representantTmp.prenom" formControlName="prenom">
        <label class="control-label"><h4>Téléphone</h4></label>
        <input type="text" class="form-control"  placeholder= "Téléphone" [(ngModel)]="representantTmp.tel" formControlName="tel">
        <label class="control-label"><h4>Fonction</h4></label>
        <input type="text" class="form-control"  placeholder= "Fonction" [(ngModel)]="representantTmp.fonction" formControlName="fonction">
        <label class="control-label"><h4>Email</h4></label>
        <input type="text" class="form-control" placeholder= "Email" [(ngModel)]="representantTmp.email" formControlName="email">
        <button type="submit" class="btn btn-success" [disabled]="formRepresentant.invalid">Valider</button>
      </form>
    </card>
</div>
