
.tip-card {

  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .tip-msg {
    flex: 1;
    h3 {
      line-height: 0;
      margin-bottom: 20px;
    }
    span {
      color: rgba($fonts-color, .6);
      font-size: $default-text;
    }
  }
  .tip-ico {
    margin: 0 10px;
    border-radius: 3px;
    color: $white;
    @include center(60px, 60px);
    font-size: 30px;
    border: none;
    outline: none;
    &:active {
      @include box-shadow( 0 2px 10px 0 rgba($black, .4) inset);
    }
  }
  .tip-ico-primary {
    @extend .bg-primary;
    @include box-shadow( 0 2px 10px 0 rgba($primary, .5));
  }
  .tip-ico-success {
    @extend .bg-success;
    @include box-shadow( 0 2px 10px 0 rgba($success, .5));
  }
  .tip-ico-danger {
    @extend .bg-danger;
    @include box-shadow( 0 2px 10px 0 rgba($danger, .5));
  }
  .tip-ico-warning {
    @extend .bg-warning;
    @include box-shadow( 0 2px 10px 0 rgba($warning, .5));
  }
  .tip-ico-info {
    @extend .bg-info;
    @include box-shadow( 0 2px 10px 0 rgba($info, .5));
  }
}
.search-group {
  position: relative;
  top: 0%;

  //transform: translate(0, 0%);

  width: 340px;
  background: $border-color;
  border: 1px solid $border-color;
  border-radius: 15px;
  overflow: hidden;
  .search-input {
    width: 300px;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    //color: $sidebar-fonts-color;
    font-size: $sm-text;
    text-indent: 1.5em;
  }
  .search-btn {
    position: relative;
    top: -1px;
    right: 1px;
    width: 30px;
    height: 30px;
    background: $primary;
    border: 0;
    border-radius: 50%;
    outline: none;
    line-height: 30px;
    text-align: center;
    color: $body-bg;
    transform: scale(0);
    transition: all .4s;
    &:hover {
      background: lighten($primary, 10%);
      transform: scale(1);
    }
  }
  .search-input:focus+.search-btn {
    transform: scale(1);
  }
}
