<div class="wizard-header">
  <h3 class="wizard-title">Partenariat</h3>
  <p class="category">Information sur les partenaires et les évènements</p>
</div>
<div class="wizard-navigation">
  <div class="progress-with-circle">
    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;">

    </div>
  </div>
  <ul>
    <li>
      <a href="#evenement" data-toggle="tab">
        <div class="icon-circle">
          <i class="ti-agenda"></i>
        </div>
        Historique
      </a>
    </li>
    <li>
      <a href="#entreprise" data-toggle="tab">
        <div class="icon-circle">
          <i class="ti-trello"></i>
        </div>
        Organisations
      </a>
    </li>
    <li>
      <a href="#personne" data-toggle="tab">
        <div class="icon-circle">
          <i class="ti-user"></i>
        </div>
        Professionel
      </a>
    </li>

  </ul>
</div>
