<div class="row">
  <div class="col-sm-12">

    <!--      Wizard container        -->
    <div class="wizard-container" >
      <div class="card wizard-card" data-color="green" id="wizard">
        <form>
          <!--        You can switch " data-color="green" "  with one of the next bright colors: "blue", "azure", "orange", "red"       -->

          <div class="wizard-header">
            <h3 class="wizard-title">Partenaraire Officiel</h3>
            <p class="category">Information sur les partenaires</p>
          </div>
          <div class="wizard-navigation">
            <div class="progress-with-circle">
              <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;"></div>
            </div>
            <ul>
              <li>
                <a href="#entreprise" data-toggle="tab">
                  <div class="icon-circle">
                    <i class="ti-trello"></i>
                  </div>
                  Organisations
                </a>
              </li>
              <li>
                <a href="#personne" data-toggle="tab">
                  <div class="icon-circle">
                    <i class="ti-user"></i>
                  </div>
                  Professionel
                </a>
              </li>

            </ul>
          </div>
          <div class="tab-content">
            <!-- premier -->
            <!-- fin premier -->
            <div class="tab-pane" id="entreprise">
              <div class="row">
                <div class="row" >
                  <div class="col-md-12">

                    <card cardTitle="Partenaire Officiel">
                      <div style="overflow-x:auto; width: 100%">
                        <table class="table new-table-bordered table-hover">
                          <thead>
                          <tr>
                            <th>Nom Organisation</th>
                            <th>Date Officialisation</th>
                            <th>Convention</th>
                            <th>Détail</th>
                            <th>Action</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of officielEntreprises | paginate: { id: 'pagerA', itemsPerPage: pageSize, currentPage: ap};let index = index" >
                            <td >{{item?.intermediaire?.cible?.nomEntreprise}}</td>

                            <td>
                              {{item?.dateOfficialisation | date}}
                            </td>

                            <td >
                              <div *ngFor="let ut of item?.pieceJointes">
                                <a href="{{openSite(ut?.url)}}" target="_blank">{{ut?.nom}}</a>
                              </div>
                            </td>
                            <td>
                              <label for="" class="label label-info" (click)="goInfo(item?.intermediaire?.idPartenaire, 'entreprise')">Info</label>
                            </td>
                            <td>
                              <a>
                                   <i class="fa fa-edit  icon-action-warning" style="cursor: pointer" (click)="openModal(officielModal, item)"></i>
                              </a>
                              /
                              <a >
                                <i class="fa fa-trash icon-action-danger " style="cursor: pointer" (click)="onDelete(item)"></i>
                              </a>
                            </td>

                          </tr>
                          </tbody>
                        </table>
                      </div>
                      <form class="pagination-wrapper">
                        <div class="form-group pages">
                          <pagination-controls class="my-pagination" id="pagerA" (pageChange)="ap=$event" maxSize="9" directionLinks="true"
                                               autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                               screenReaderCurrentLabel="You're on page">
                          </pagination-controls>
                        </div>
                        <div class="form-group options pages">
                          <div class="input-group input-group-sm">
                            <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
                              <option>1</option>
                              <option>2</option>
                              <option>5</option>
                            </select>
                            <span class="input-group-addon addon-right">Taille de la liste</span>
                          </div>
                        </div>
                      </form>
                    </card>
                  </div>

                </div>
              </div>
            </div>
            <div class="tab-pane" id="personne">
              <div class="row">
                <div class="col-md-12">
                  <card cardTitle="Partenaire Officiel">
                    <div style="overflow-x:auto; width: 100%">
                      <table class="table new-table-bordered table-hover table-responsive">
                        <thead>
                        <tr>
                          <th>Prenom Professionel</th>
                          <th>Nom Professionel</th>
                          <th>Date Officialisation</th>
                          <th>Convention</th>
                          <th>Détail</th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of officielPersonnes | paginate: { id: 'pagerA', itemsPerPage: pageSize, currentPage: ap};let index = index" >
                          <td >{{item?.intermediaire?.cible?.prenom}}</td>
                          <td >{{item?.intermediaire?.cible?.nom}}
                          <td>
                            {{item?.dateOfficialisation | date}}
                          </td>

                          <td >
                            <div *ngFor="let ut of item?.pieceJointes">
                              <a href="{{openSite(ut?.url)}}" target="_blank">{{ut?.nom}}</a>
                            </div>
                          </td>
                          <td>
                            <label for="" class="label label-info" (click)="goInfo(item?.intermediaire?.idPartenaire, 'personne')">Info</label>
                          </td>
                          <td>
                            <a>
                              <i class="fa fa-edit  icon-action-warning" style="cursor: pointer" (click)="openModal(officielModal, item)"></i>
                            </a>
                            /
                            <a >
                              <i class="fa fa-trash icon-action-danger " style="cursor: pointer" (click)="onDelete(item)"></i>
                            </a>
                          </td>

                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <form class="pagination-wrapper">
                      <div class="form-group pages">
                        <pagination-controls class="my-pagination" id="pagerA" (pageChange)="ap=$event" maxSize="9" directionLinks="true"
                                             autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                             screenReaderCurrentLabel="You're on page">
                        </pagination-controls>
                      </div>
                      <div class="form-group options pages">
                        <div class="input-group input-group-sm">
                          <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
                            <option>1</option>
                            <option>2</option>
                            <option>5</option>
                          </select>
                          <span class="input-group-addon addon-right">Taille de la liste</span>
                        </div>
                      </div>
                    </form>
                  </card>
                </div>



              </div>
            </div>

          </div>

        </form>
      </div>
    </div> <!-- wizard container -->
  </div>
</div> <!-- row -->

<modal #officielModal (onClose)="onClose()">

  <modal-content>
    <app-form-officiel [officiel]="officiel"></app-form-officiel>
  </modal-content>
</modal>

