<label class="text-danger control-label" style="font-size: 20px ">(*): Champ Obligatoire</label>
<div class="row">
  <div class="col-md-12">
    <div >
      <form class="form-group" [formGroup]="formMail" (submit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
        <div class="row">
          <div class="col-md-6">
            <label class="control-label"><h4>Objectif mail</h4></label>
            <div style="padding-left: 30px" *ngIf="mailTmp.objectif?.length!==0">
              <table class="table">
                <thead>
                <tr>
                  <th class="text-left">Libellé</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let obj of mailTmp.objectif">
                  <td class="text-left">{{obj}}</td>
                  <td style="cursor: pointer"><i class="fa fa-trash-o icon-action-danger " (click)="deleteObj(obj)"></i></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <input type="text" [(ngModel)]="obj" class="form-control" placeholder="Entrer les objectifs" formControlName="objectif" (keyup)="add($event)">
            </div>


            <label class="control-label"><h4>Objet du mail <span class="text-danger">(*)</span></h4></label>
            <input type="text" [(ngModel)]="mailTmp.objetMail"  formControlName="objetMail" class="form-control">
            <label *ngIf="isEntreprise" class="control-label"><h4>Selectionner le récepteur / l'émetteur</h4></label>
            <select *ngIf="isEntreprise" [(ngModel)]="mailTmp.representant" formControlName="representant" class="form-control" [compareWith]="compare" (change)="addRepresentant()">
              <option [ngValue]="rep" *ngFor="let rep of representants">{{rep?.prenom}} {{rep?.nom}}</option>
              <option [ngValue]="null" >+Ajouter un representant</option>
            </select>
            <label class="control-label"><h4>Date de l'envoi / la réception <span class="text-danger">(*)</span></h4></label>
            <ng-container *ngIf="isChangeM">
              <owl-date-time
                [showButtons]="true"
                [locale]="fr"
                [placeHolder]="'Date'"
                [dateFormat]="'DD-MM-YYYY HH:mm'"
                [inputId]="'datePicker'"
                [(ngModel)]="mailTmp.dateEvenement"
                formControlName="dateEvenement" >
              </owl-date-time>
            </ng-container>

          </div>
          <div class="col-md-6">
            <label class="control-label"><h4>Resume</h4></label>
            <div id="pellsmail" class="pell">
            </div>
            <div class="col-md-12">
              <h3>Pièces Jointes</h3>
              <p>
              <p>
                <label for="file" class="label-file">Choisir une conventions</label>
                <input id="file" class="input-file" type="file"
                       ng2FileSelect [uploader]="uploader"
                       accept="bmp, .tiff, .gif, . jpeg, .png, .jpg, .avi, .mp4, .doc, .docx, .pdf, .ppt"
                       (onFileSelected)="fileDropped($event)" multiple>
              </p>
              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th width="45%">Nom</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue; index as i">
                  <td>{{i+1}}</td>
                  <td>
                    <strong>{{ item?.file?.name }}</strong>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger btn-xs" style="font-size: 8px; border-radius: 8px" (click)="item.remove(); mailTmp.pieceJointes.splice(i, 1)">
                      <span class="glyphicon glyphicon-trash"></span> Supprimer
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

        <button type="submit" [disabled]="formMail.invalid" class="btn btn-success" style="font-size: 15px; border-radius: 10px; margin-top: 20px;" >Valider</button>
      </form>
    </div>
  </div>
</div>
<modal #representantForm modalClass="modal-md" >
  <modal-header >
    <div class="modalheader panel panel-heading" >
      <h3>Ajouter un sous-domaine</h3>
    </div>
  </modal-header>
  <modal-content>
    <div class=modalcontent>

      <br>
      <app-representantForm [representant]="representant" [entreprise]="entreprise" (back)="representantForm.close();affecter($event)"></app-representantForm>&ndash;&gt;-->
      <br>

    </div>
  </modal-content>
  <modal-footer></modal-footer>
</modal>
