<label class="text-danger control-label" style="font-size: 20px ">(*): Champ Obligatoire</label>
<div class="row">
  <div class="col-md-12">
    <div id="reunion">
      <form class="form-group" [formGroup]="formReunion" (submit)="onSubmit()" (keydown.enter)="$event.preventDefault()" >
        <div class="row">
          <div class="col-md-6">
            <label class="control-label"><h4>Objectifs de la réunion</h4></label>
            <div style="padding-left: 30px" *ngIf="reunionTmp.objectif?.length!==0">
              <table class="table">
                <thead>
                <tr>
                  <th class="text-left">Libellé</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let obj of reunionTmp.objectif">
                  <td class="text-left">{{obj}}</td>
                  <td style="cursor: pointer"><i class="fa fa-trash-o icon-action-danger " (click)="deleteObj(obj)"></i></td>
                </tr>
                </tbody>
              </table>
            </div>
            <input type="text" [(ngModel)]="obj" class="form-control" placeholder="Entrer les objectifs" formControlName="objectif" (keyup)="add($event)">



            <label class="control-label"><h4>Lieu <span class="text-danger">(*)</span></h4></label>
            <input type="text" class="form-control" formControlName="lieuEvenement" [(ngModel)]="reunionTmp.lieuEvement"  placeholder="lieu">

          </div>
          <div class="col-md-6">
            <label class="control-label"><h4>Ajouter Ordre Du Jour</h4></label>
            <div style="padding-left: 30px" *ngIf="reunionTmp.ordreDuJour?.length!==0">
              <table class="table">
                <thead>
                <tr>
                  <th class="text-left">Libellé</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of reunionTmp?.ordreDuJour">
                  <td class="text-left">{{item}}</td>
                  <td style="cursor: pointer"><i class="fa fa-trash-o icon-action-danger " (click)="deleteOrdre(item)"></i></td>
                </tr>
                </tbody>
              </table>
            </div>
            <input type="text" [(ngModel)]="ord" class="form-control" placeholder="Entrer Ordre du Jour" formControlName="objectif" (keyup)="addOrdJour($event)">

             <label class="control-label"><h4>Date de l'evenement <span class="text-danger">(*)</span></h4></label>
            <ng-container *ngIf="isChangeR">
              <owl-date-time
                [showButtons]="true"
                [locale]="fr"
                [placeHolder]="'Date de evenemet (*)'"
                [dateFormat]="'DD-MM-YYYY HH:mm'"
                [inputId]="'datePicker'"
                [(ngModel)]="reunionTmp.dateEvenement"
                formControlName="dateEvenement" >
              </owl-date-time>
            </ng-container>
          </div>
        </div>

        <div class="row" style="padding-top: 15px; padding-bottom: 15px;">
          <div class="col-md-12">
            <div class="col-md-12">
              <h3>Pièces Jointes</h3>
              <p>
              <p>
                <label for="file" class="label-file">Choisir une conventions</label>
                <input id="file" class="input-file" type="file"
                       ng2FileSelect [uploader]="uploader"
                       accept="bmp, .tiff, .gif, . jpeg, .png, .jpg, .avi, .mp4, .doc, .docx, .pdf, .ppt"
                       (onFileSelected)="fileDropped($event)" multiple>
              </p>
              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th width="45%">Nom</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue; index as i">
                  <td>{{i+1}}</td>
                  <td>
                    <strong>{{ item?.file?.name }}</strong>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger btn-xs" style="font-size: 8px; border-radius: 8px" (click)="item.remove(); reunionTmp.pieceJointes.splice(i, 1)">
                      <span class="glyphicon glyphicon-trash"></span> Supprimer
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>

        </div>
        <button type="submit" [disabled]="formReunion.invalid" class="btn btn-success">Valider</button>
      </form>
    </div>
  </div>
</div>
