:host /deep/ .owl-datetime-main-input{
  height: 35px;
  width: 100%;
  margin-top: 10px;
  background: #e4e4e4;
  border-radius: 15px;
  padding-left: 2px;
}
#pellsreunion{

}
.pell-actionbar{
  position: fixed;
}

:host /deep/ .pell-content {
  background-color: #e4e4e4;
}


input,card,select,ng-select {
  border-radius: 15px;
}

.form-group {
    .form-control,
    .check-label {
        margin: 10px 0;
    }
}

.form-inline {
    .control-label,
    .form-control,
    .btn {
        margin: auto 5px;
    }
}

//
.bulle
{
  position:relative; display:none;
  font-family: Arial, sans-serif;
  background-size: cover;

}

.popup {
  margin: 10px ;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}



.objectif:hover .bulle
{
  display:inline-block;
}

// on personnalise le label comme on veut
.label-file {
  cursor: pointer;
  color: #00b1ca;
  font-weight: bold;
}
.label-file:hover {
  color: #25a5c4;
}

// et on masque le input
.input-file {
  display: none;
}
