<form class="form-group center-block" [formGroup]="formDomaine" (submit)="onSubmitDomaine(domaine)">
  <div class="col-md-3">
  </div>
  <div class="col-md-5">
    <input type="text" [(ngModel)]= "domaine.nomDomaine" formControlName="nomDomaine" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Valider</button>
</form>

