<div class="row">
  <div class="col-md-9">
    <div class="row">
      <card >
        <div *ngFor="let domaine of domaines">

          <div class="animated fadeIn col-lg-3 col-md-4 col-sm-6 col-xs-12 domaine" (click)="changeDecor(domaine)" >
            <div class="card card-block tip-card" [ngClass]="(decor === domaine.nomDomaine)?'decor':''">
              <div class="tip-msg center-block text-center" >
                <b >{{domaine?.nomDomaine}}</b>
              </div>
              <button class="tip-ico tip-ico-primary" >
                <i class="fa fa-dashboard"></i>
              </button>
            </div>
          </div>

        </div>
      </card>
    </div>
    <div class="row">

      <card cardTitle="Organisation" >
        <div class="row">
          <div class="col-md-8">
            <div class="row">

              <div class="col-md-6">
                <input type="checkbox" class="form-check-input" [checked]="checkAllVar||sousDomaines.length===sousDomainesCheck.length" (change)="checkAll($event)">

                <label class="form-check-label">Selectionnez tout</label>
              </div>
              <br>
              <br>
            </div>
            <div class="form-group">
              <div class="row">
                <div *ngFor="let sousDomaine of sousDomaines" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1  " >
                      <input class="form-check-input"  type="checkbox" id="{{sousDomaine?.idSousDomaine}}"  (change)="clickFilter(sousDomaine,$event)" [checked]="checkAllVar">
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-8 col-xs-10   labelcheck" >
                      <label class="form-check-label" for="{{sousDomaine?.idSousDomaine}}">{{sousDomaine.libelle}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <div class="col-md-12 col-sm-4 ">
              <div class="search-group" style="margin-bottom: 10px">
                <input type="text" class="search-input" placeholder="Rechercher" [(ngModel)]="filter" (keyup)="filterDefineColumn()">
                <button class=" search-btn">
                  <i class="fa fa-search fa-fw"></i>
                </button>
              </div>
            </div>

                <div class="col-md-2 taille1 col-sm-2">
                  <label for="" class="taille2">
                    Taille
                  </label>
                </div>
                <div class="col-md-4 col-sm-3">
                  <select [(ngModel)]="taillemin" name="" id="" class="form-control custom-dropdown__select custom-dropdown__select--white">
                    <option [ngValue]="'tout'">Min</option>
                    <option [ngValue]="select" *ngFor="let select of tailleSelectMin">Plus de {{select}}</option>
                  </select>
                </div>
                <div class="col-md-4 col-sm-3">
                  <select  [(ngModel)]="taillemax" name="" id="" class="form-control">
                    <option [ngValue]="'tout'">Max</option>
                    <option [ngValue]="select" *ngFor="let select of tailleSelectMax" >Moins de {{select}}</option>
                  </select>
                </div>

          </div>

        </div>
        <div class="table-responsive">
          <table class="table new-table-bordered table-hover "  >
            <thead>
            <tr>
              <th>#</th>
              <th [class.active]="order === 'nomEntreprise'" (click)="setOrder('nomEntreprise')" >
                Nom
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </th>
              <th [class.active]="order === 'domaine'" (click)="setOrder('domaine')">
                Domaine
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </th>
              <th [class.active]="order === 'adresse'" (click)="setOrder('adresse')">Adresse
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </th>
              <th [class.active]="order === 'dateValidationSuggestion'" (click)="setOrder('dateValidationSuggestion')">Taille
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </th>
              <th [class.active]="order === 'telephone'" (click)="setOrder('telephone')">Date Validation
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entreprise of getEntreprise() | orderBy: order :reverse|filterTable:filtercolumn  | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber}; let index = index" (click)="openModal(detailEntrepriseModal,entreprise)" style="cursor: pointer">
              <td>{{index+1}}</td>
              <td>{{entreprise?.nomEntreprise}}</td>
              <td>
                <a *ngFor="let sousDomaine of entreprise?.sousDomaines">
                  {{sousDomaine?.libelle}}
                </a>
              </td>
              <td>{{entreprise?.adresse}}</td>
              <td>
                <ng-container  *ngIf="entreprise?.tailleEntreprise?.max!==1000">
                  <span >
                    {{entreprise?.tailleEntreprise.min}}-{{entreprise?.tailleEntreprise?.max}}
                  </span>
                </ng-container>
                <ng-container  *ngIf="entreprise?.tailleEntreprise?.max===1000">
                  <span >
                    {{entreprise?.tailleEntreprise.min}} ++
                  </span>
                </ng-container>
              </td>
              <td>{{entreprise?.dateValidationSuggestion | date:'dd/MM/yyyy: HH:mm'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <form class="pagination-wrapper">
          <div class="form-group pages">
            <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                                 autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                 screenReaderCurrentLabel="You're on page">
            </pagination-controls>
          </div>
          <div class="form-group options pages">
            <div class="input-group input-group-sm">
              <select class="form-control " name="pageChangedName" [(ngModel)]="pageSize" >
                <option>1</option>
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
                <option>200</option>
              </select>
              <span class="input-group-addon addon-right">Per Page</span>
            </div>
          </div>
        </form>
      </card>

    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <card>
        <div class=" animated fadeIn " >
          <div class="card card-block tip-card" >
            <div class="tip-msg">
              <h3>Ciblez</h3>
              <span>Une Organisation</span>
            </div>
            <button class="tip-ico tip-ico-primary" (click)="addEntreprise(formEntrepriseModal)" style="color: rosybrown">
              <!-- <i class="fa fa-group fa-fw"></i> -->
              <i class="fas fa-user-plus"></i>
            </button>
          </div>
        </div>
      </card>
    </div>
    <div class="row">
      <card cardTitle="Taches prévues" isCollapse="true">
        <app-du-todolist type="Organisation"></app-du-todolist>
      </card>
    </div>
  </div>
</div>
<modal #formEntrepriseModal [closeOnEscape]="false" [closeOnOutsideClick]="false" modalClass="modal-lg" >
  <modal-header>
    <h3><h3 class="text-center">Organisation</h3></h3>
  </modal-header>
  <modal-content>
    <app-entrepriseForm  [value]="value" [entreprise]="entreprise" [entreprises]="entreprises" (back)="closeParent(detailEntrepriseModal, $event)"  (back2)="changeDecor($event)" ></app-entrepriseForm>
  </modal-content>
  <modal-footer>
    <button class="btn btn-danger" (click)="closeModal(formEntrepriseModal); chargerEntreprise()" style="border-radius: 15px">fermer</button>
  </modal-footer>
</modal>


<modal #detailEntrepriseModal [closeOnEscape]="false" [closeOnOutsideClick]="false"  >
  <modal-content>
    <app-entreprise-detail [entreprise]="entreprise" [entreprises]="entreprises" (back)="closeParent(formEntrepriseModal, $event)"  (delete)="closeModal(detailEntrepriseModal)" ></app-entreprise-detail>
  </modal-content>

</modal>




