@import "../../../../shared/theme/conf";

.pagination-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  .input-group {
    width: 150px;
    .input-group-addon {
      @extend .bg-primary;
      color: $white;
      border: none;
    }
  }
  .form-group {
    height: auto;
    margin: 0;
    padding: 0;
  }
}

.my-pagination /deep/ .ngx-pagination {
  border: 1px solid $border-color;
  border-radius: 5px;
  overflow: hidden;
  font-size: $sm-text;
  padding: 0;
  a,
  .current {
    min-width: 30px;
    text-decoration: none;
    height: 35px;
    text-align: center;
    line-height: 33px;
    margin: 0;
    color: $fonts-color;
    &:last-child {
      border: none;
    }
  }
  a:hover,
  .current {
    min-width: 30px;
    @extend .bg-primary;
    color: $white;
  }
  .disabled {
    color: rgba($fonts-color, .4);
    cursor: not-allowed;
  }
}





.tip-card {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .tip-msg {
    flex: 1;
    h3 {
      line-height: 0;
      margin-bottom: 20px;
    }
    span {
      color: rgba($fonts-color, .6);
      font-size: $default-text;
    }
  }
  .tip-ico {
    margin: 0 10px;
    border-radius: 3px;
    color: $white;
    @include center(60px, 60px);
    font-size: 30px;
    border: none;
    outline: none;
    &:active {
      @include box-shadow( 0 2px 10px 0 rgba($black, .4) inset);
    }
  }
  .tip-ico-primary {
    @extend .bg-primary;
    @include box-shadow( 0 2px 10px 0 rgba($primary, .5));
  }
  .tip-ico-success {
    @extend .bg-success;
    @include box-shadow( 0 2px 10px 0 rgba($success, .5));
  }
  .tip-ico-danger {
    @extend .bg-danger;
    @include box-shadow( 0 2px 10px 0 rgba($danger, .5));
  }
  .tip-ico-warning {
    @extend .bg-warning;
    @include box-shadow( 0 2px 10px 0 rgba($warning, .5));
  }
  .tip-ico-info {
    @extend .bg-info;
    @include box-shadow( 0 2px 10px 0 rgba($info, .5));
  }
  thead th {
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;

    span {
      visibility: hidden;
    }

    &.active {
      color: #000;

      span {
        visibility: visible;
      }
    }
  }
}
thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;

  span {
    visibility: hidden;
  }

  &.active {
    color: #000;

    span {
      visibility: visible;
    }
  }
}
.search-group {



  //transform: translate(0, 0%);

  width: 100%;
  background: $border-color;
  border: 1px solid $border-color;
  border-radius: 15px;
  overflow: hidden;
  .search-input {
    width: 85%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    //color: $sidebar-fonts-color;
    font-size: $sm-text;
    text-indent: 1.5em;
  }
  .search-btn {
    width: 10%;
    height: 50%;
    background: $primary;
    border: 0;
    border-radius: 50%;
    outline: none;
    line-height: 30px;
    text-align: center;
    color: $body-bg;
    transform: scale(0);
    transition: all .4s;
    &:hover {
      background: lighten($primary, 10%);
      transform: scale(1);
    }
  }
  .search-input:focus+.search-btn {
    transform: scale(1);
  }
}
.decor{
  background: #9ea6b9;
  color: whitesmoke;
}
select, input{
  border-radius: 15px;
}
.domaine{
  cursor:pointer;
}
form-control:-ms-input-placeholder{

}
.taille1 {
  height: 35px;
  margin-left: 0px;
  border-radius: 10px;
}
.taille2 {
  padding: 10px;
  text-decoration: underline;
  border-radius: 10px;
  //vert-align: middle;
  padding-right: 20px;
  padding-left: 0px;
  margin-right: 4px;
  font-weight: bold;
  font-size: small;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tip-msg {
  word-break: break-all!important;
  ;
}
b{
  font-size: 15px;
  //word-wrap: break-word!important;
  word-break: break-word!important;
}
.labelcheck{
  padding: 0px;
  word-break: break-word!important;
}
