<div class="card">
  <div class="profile-wrap animated fadeIn">
    <div class="info-wrap">
      <div class="avatar-wrap">
        <img src="{{avatarImgSrc}}" alt="avatar">
      </div>
      <span class="user-name">{{userName}}</span>
      <span class="user-post">{{userPost}}</span>
      <span class="map-location">
        <i class="fa fa-map-marker"></i>
        <span style="color: black">Dakar, Diamniadio</span>
      </span>
    </div>
    <div class="profile-head">
      <img src="{{avatarImgSrc}}" alt="profile-head-bg" class="profile-head-bg">
    </div>
    <div class="profile-foot">
      <h4 style="font-family: 'Roboto', helvetica, arial, sans-serif">Scrappeur</h4>
      <h4 style="font-size: xx-small; font-family: Calibri;">Demarrer un moteur !</h4>
      <ul class="contact-way-item">
        <li class="contact-way-list">
          <a href="#" class="info-icon fa fa-wechat viewpic"><span><img src="assets/images/jumia_jobs.jpg" style="border-radius: 100%"></span></a>
        </li>
        <li class="contact-way-list">
          <a href="#" class="info-icon fa fa-weibo"></a>
        </li>
        <li class="contact-way-list">
          <a href="#" class="info-icon fa fa-facebook"></a>
        </li>
        <li class="contact-way-list">
          <a href="#" class="info-icon fa fa-github"></a>
        </li>
        <li class="contact-way-list">
          <a href="#" class="info-icon fa fa-envelope"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
