.entete {
  background-image:radial-gradient(white, $navy);
  /*background: $nav-bg;;*/
  color: $navy;
  margin-bottom: 1px;
  margin-top: -10px;
  padding: 5px;
  /*border-radius: 5px*/
}
.titre-bold {
  color: $navy;
  font-weight: bold;
}
.main-title {
  text-align: center;
}
.titre {
  color: $navy;
}
.icon-action-primary{
  color: $navy;
  size: 15px;
}
.icon-action-info{
  color: $lazur;
  size: 15px;
}
.icon-action-warning{
  color: $yellow;
  size: 15px;
}
.icon-action-danger{
  color: $red;
  size: 15px;
}
.icon-action-success{
  color: $blue;
  size: 15px;
}


.new-table-bordered {
  border: 1px solid #EBEBEB;
}

.new-table-bordered > thead > tr > th, .new-table-bordered > thead > tr > td {
  border-bottom-width: 1px;
  color: $dark-gray;
  background: $nav-bg;
}

.new-table-bordered > thead > tr > th, .new-table-bordered > tbody > tr > th, .new-table-bordered > tfoot > tr > th, .new-table-bordered > thead > tr > td, .new-table-bordered > tbody > tr > td, .new-table-bordered > tfoot > tr > td {
  border: 1px solid #e7e7e7;
}

.new-table-bordered {
  border: 1px solid #EBEBEB;
}

.new-table-bordered > thead > tr > th, .new-table-bordered > thead > tr > td {
  border-bottom-width: 1px;
  color: $dark-gray;
  background: $nav-bg;
}

.new-table-bordered > thead > tr > th, .new-table-bordered > tbody > tr > th, .new-table-bordered > tfoot > tr > th, .new-table-bordered > thead > tr > td, .new-table-bordered > tbody > tr > td, .new-table-bordered > tfoot > tr > td {
  border: 1px solid #e7e7e7;
}









.new-table-bordered-inverse {
  border: 1px solid #EBEBEB;
}

.new-table-bordered-inverse > thead > tr > th, .new-table-bordered-inverse > thead > tr > td {
  border-bottom-width: 1px;
  color: $nav-bg;
  background: $dark-gray;
}

.new-table-bordered-inverse > thead > tr > th, .new-table-bordered-inverse > tbody > tr > th, .new-table-bordered-inverse > tfoot > tr > th, .new-table-bordered-inverse > thead > tr > td, .new-table-bordered-inverse > tbody > tr > td, .new-table-bordered-inverse > tfoot > tr > td {
  border: 1px solid #e7e7e7;
}

.new-table-bordered-inverse {
  border: 1px solid #EBEBEB;
}

.new-table-bordered-inverse > thead > tr > th, .new-table-bordered-inverse > thead > tr > td {
  border-bottom-width: 1px;
  color: $nav-bg;
  background: $dark-gray;
}

.new-table-bordered-inverse > thead > tr > th, .new-table-bordered-inverse > tbody > tr > th, .new-table-bordered-inverse > tfoot > tr > th, .new-table-bordered-inverse > thead > tr > td, .new-table-bordered-inverse > tbody > tr > td, .new-table-bordered-inverse > tfoot > tr > td {
  border: 1px solid #e7e7e7;
}




.new-table-bordered-bold {
  border: 1px solid #EBEBEB;
}

.new-table-bordered-bold > thead > tr > th, .new-table-bordered-bold > thead > tr > td {
  border-bottom-width: 1px;
  color: $dark-gray;
  background: $nav-bg;
}

.new-table-bordered-bold > thead > tr > th, .new-table-bordered-bold > tbody > tr > th, .new-table-bordered-bold > tfoot > tr > th, .new-table-bordered-bold > thead > tr > td, .new-table-bordered-bold > tbody > tr > td, .new-table-bordered-bold > tfoot > tr > td {
  border: 1px solid #e7e7e7;
  font-weight: bold;
}
.bg-table-footer{
  background: #0080FF;
}

.ng-trigger-dialog {
  padding: 0!important;
  padding-top: -5!important;
}

.dialog__close-btn:hover {
  background: #fff!important;
}
.ng-trigger-dialog .modalTitle{
  background: $nav-bg;;
  color: #fff;
  margin-top: 0;
  height: 40px;
  padding-top: 6px;
  padding-left: 20px;
}
.menu-parallelogramme{
  margin-left: 20px;
}
.menu-parallelogramme li a:hover{
  color: white!important;
  background: #ffba79!important;
  -webkit-transform:skew(-20deg)!important;
  -moz-transform:skew(-20deg)!important;
  -o-transform:skew(-20deg)!important;
  tranform:skew(-20deg)!important;
}

.menu-parallelogramme .active a{
  color: white!important;
  background: $navy!important;
  -webkit-transform:skew(-20deg);
  -moz-transform:skew(-20deg);
  -o-transform:skew(-20deg);
  tranform:skew(-20deg);
  //border-radius: 0px 20px 0px 0px!important;
  border-bottom: 3px solid #cd6133!important;
}


.menu-circle li a:hover{
  color: white!important;
  background: #ffba79!important;
  border-radius: 20px!important;

}

.menu-circle .active a{
  color: white!important;
  background: #EE9F00!important;
  border-radius: 20px!important;
  border-bottom: 3px solid #cd6133!important;
}

.modal-dark{
  z-index: 2045;
}
.modal-dark div header{
  background: $nav-bg;
  color: white;
}

.modal-primary{
  z-index: 2045;
}
.modal-primary div header{
  background: $navy;
  color: white;
}

.tabs__tab.active[_ngcontent-c4]{
  background-color: black!important;
}

.no-point {
  cursor: not-allowed;
}
