<label class="text-danger control-label" style="font-size: 20px ">(*): Champ Obligatoire</label>
<div class="row">
  <div class="col-md-12">
    <div>
      <form class="form-group" [formGroup]="formAppel"  (submit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
        <div class="row">
          <div class="col-md-6">
              <label class="control-label"><h4>Objectifs de l'appel</h4></label>
                <div style="padding-left: 30px" *ngIf="appelTmp.objectif?.length!==0">
                  <table class="table">
                    <thead>
                    <tr>
                      <th class="text-left">Libellé</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let obj of appelTmp.objectif">
                      <td class="text-left">{{obj}}</td>
                      <td style="cursor: pointer"><i class="fa fa-trash-o icon-action-danger " (click)="deleteObj(obj)"></i></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              <input type="text" [(ngModel)]="obj" class="form-control" placeholder="Veuillez énumérer les objectifs de l'appel" formControlName="objectif" (keyup)="add($event)">


               <div class="row">
                 <div class="col-md-6" style="padding-right: 0px;">

                   <label >
                     <h3>
                     <i class="fa fa-phone-square icon-action-info"></i>
                     <i class="fa fa-arrow-up icon-action-info"></i>
                   </h3>
                   </label>
                   <label class="control-label"><strong><h4>Sortant</h4></strong></label>
                   <input  type="radio" formControlName="appelEtat" [(ngModel)]="appelTmp.etat" [value]="false" >
                 </div>
                 <div class="col-md-6" style="margin: 0px; padding-left: 0px">
                   <label >
                     <h3>
                       <i class="fa fa-phone-square icon-action-info"></i>
                       <i class="fa fa-arrow-down icon-action-danger"></i>
                     </h3>
                   </label>
                   <label class="control-label"><strong><h4>Entrant</h4></strong></label>
                   <input type="radio" class="form-check-input"  formControlName="appelEtat" [(ngModel)]="appelTmp.etat"  [value]="true"  >

                 </div>
               </div>

            <br>
            <label class="control-label"><h4>Date de l'evenement <span class="text-danger">(*)</span></h4></label>
            <ng-container *ngIf="isChangeA">
              <owl-date-time
                [showButtons]="true"
                [locale]="fr"
                [placeHolder]="'Date de evenemet (*)'"
                [dateFormat]="'DD-MM-YYYY HH:mm'"
                [inputId]="'datePicker'"
                [(ngModel)]="appelTmp.dateEvenement"
                formControlName="dateEvenement" >
              </owl-date-time>
            </ng-container>
            <label class="control-label col"><h4>Interlocuteur de l'ISEP <span class="text-danger">(*)</span></h4></label>
            <input type="text" placeholder="Nom Interlocuteur" [(ngModel)]="appelTmp.nom" formControlName="nom" class="form-control">
            <label class="control-label"><h4>Numéro de l'interlocuteur <span class="text-danger">(*)</span></h4></label>
            <input type="text" placeholder="Numéro" [(ngModel)]="appelTmp.numero" formControlName="numero" class="form-control">
            <label *ngIf="isEntreprise" class="control-label"><h4>Selectionner le representant</h4></label>
            <select required *ngIf="isEntreprise" [(ngModel)]="appelTmp.representant" formControlName="representant" class="form-control" [compareWith]="compare" (change)="addRepresentant()">
              <option [ngValue]="rep" *ngFor="let rep of representants">{{rep?.prenom}} {{rep?.nom}}</option>
              <option [ngValue]="ajoutRepresentant" >+Ajouter un representant</option>

            </select>
          </div>
          <div class="col-md-6">
            <label class="control-label"><h4>Resume</h4></label>
            <div id="pellsappel" class="pell">
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="formAppel.invalid" class="btn btn-success" style="border-radius: 10px">Valider</button>
      </form>
    </div>
  </div>
</div>
<modal #representantForm modalClass="modal-md" >
  <modal-content>
    <div class=modalcontent>

      <br>
      <app-representantForm [representant]="representant" [entreprise]="entreprise" (back)="representantForm.close();affecter($event)"></app-representantForm>
      <br>

    </div>
  </modal-content>
  <modal-footer></modal-footer>
</modal>
