
:host /deep/ .owl-datetime-main-input{
  height: 35px;
  width: 100%;
  background: #e4e4e4;
  border-radius: 15px;
}
#pellsappel {
  border-radius: 15px;

}
:host /deep/ .pell-content {
  background-color: #e4e4e4;
}

.col{
  margin-top: 15px;
}
input,card,select,ng-select {
  border-radius: 15px;
}

.form-group {
    .form-control,
    .check-label {
        margin: 10px 0;
    }
}

.form-inline {
    .control-label,
    .form-control,
    .btn {
        margin: auto 5px;
    }
}
//////// pop
.bulle
{
  position:relative; display:none;
  font-family: Arial, sans-serif;
  background-size: cover;

}

.popup {
  margin: 10px ;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}



.objectif:hover .bulle
{
  display:inline-block;
}
