<div class="container">

  <div class="row">
    <div class="col-md-3">
      <card>
        <div *ngFor="let domaine of domaines" (click)="changeDecor(domaine)">

          <div class="domaine text-center center-block" >
            <div class="card card-block tip-card" [ngClass]="(decor === domaine?.nomDomaine)?'decor':''">
              <div class="tip-msg">
                <div class="row">
                  <b>{{domaine?.nomDomaine}}</b>
                </div>
                <button data-toggle="tooltip" type="button" class="btn btn-sm btn-warning" (click)="openModalDomaine(formDomain, domaine, 'Ajout')"><i class="glyphicon glyphicon-edit"></i></button>
                <button data-toggle="tooltip" type="button" class="btn btn-sm btn-danger" (click)="onDeleteDomaine(domaine)"><i class="glyphicon glyphicon-trash"></i></button>
              </div>
              <button class="tip-ico tip-ico-primary">
                <i class="fa fa-group fa-fw"></i>
              </button>
            </div>
          </div>

        </div>
        <div class="animated fadeIn domaine"  (click)="addDomaine(formDomain)" >
          <div class="card card-block tip-card">
            <div class="tip-msg">
              <h3>Ajouter</h3>
              <span></span>
            </div>
            <button class="tip-ico tip-ico-primary">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </card>
    </div>
    <div class="col-md-8">
      <card>
        <div>
          <table class="table new-table-bordered table-hover">
            <thead>
            <tr>
              <th>index</th>
              <th>libellé</th>
              <th>concerné</th>
              <th>modifier</th>
              <th>suprrimer</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sousDomaine of domaine?.sousDomaines ;let index = index">
              <td>{{index+1}}</td>
              <td>{{sousDomaine?.libelle}}</td>
              <td>{{sousDomaine.numberEntreprise}}</td>
              <td><span
                data-toggle="tooltip" (click)="openModalSousDomaine(formSousDomain, sousDomaine)"><i class="glyphicon glyphicon-edit"></i></span></td>
              <td><span class="label label-danger" (click)="onDeleteSousDomaine(sousDomaine)"><i class="glyphicon glyphicon-remove"></i></span></td>
            </tr>
            <tr>
              <td *ngIf="domaine?.nomDomaine !== undefined">
                <div (click)="addSousDomaine(formSousDomain)">
                  <button class="btn btn-warning">
                    <i class="fas fa-plus">Ajouter</i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </card>
    </div>
  </div>
</div>
<modal #formDomain [closeOnEscape]="false" [closeOnOutsideClick]="false" modalClass="modal-small" >
  <modal-header>
    <h3>{{message}}</h3>
    <h3 class="text-center">Domaine</h3>
  </modal-header>
  <modal-content>
    <form class="form-group center-block" [formGroup]="formDomaine" (submit)="onSubmitDomaine(domaineTmp)">
      <div class="col-md-3">
      </div>
      <div class="col-md-5">
        <input type="text" [(ngModel)]= "domaineTmp.nomDomaine" formControlName="nomDomaine" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Valider</button>
    </form>
  </modal-content>
</modal>
<modal #formSousDomain [closeOnEscape]="false" [closeOnOutsideClick]="false" >
  <modal-header>
    <h3 class="text-center">sous-domaine</h3>
  </modal-header>
  <modal-content>
    <div class="row" >
      <form class="form-group " [formGroup]="formSousDomaine" (submit)="onSubmitSousDomaine(sousDomaineTmp)">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <input type="text" class="form-control"  [(ngModel)]="sousDomaineTmp.libelle" formControlName="libelle">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary col-md-">Valider</button>
        </div>
      </form>

    </div>

  </modal-content>
</modal>

