/*header nav, footer {
  display: none;
}*/

.header, .footer {
  display: none;
}

img {
  max-width: 500px;
}

body {
  font: 12pt Georgia, "Times New Roman", Times, serif;
  line-height: 1.3;
}

@page {
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
}

a[href]:after {
  content: " (" attr(href) ")";
}



/*@page {
  margin: 0.5cm;
}*/

/*@page :first {
  margin: 1cm 2cm;
}

@page :left {
  margin: 0.5cm;
}

@page :right {
  margin: 0.8cm;
}*/

/*h1 {
  font-size: 24pt;
}

h2 {
  font-size: 14pt;
  margin-top: 25px;
}*/
/*
aside h2 {
  font-size: 18pt;
}

blockquote, ul {
  margin: 0;
}*/

/*ul {
  list-style: none;
}

li {
  content: "» ";
}*/
