@import "../../shared/theme/color-schemes/default";
.check-label,
.radio-label {
    margin-bottom: 20px;
}

.form-group {
    >.form-control {
        margin-bottom: 10px;
    }
    >.help-block {
        margin-top: -10px;
    }
}

.switch-group {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .control-label {
        width: 100%;
    }
    switch {
        flex: 1;
    }
}
input, card, select, ng-select, button {
  border-radius: 15px;
}
h3{
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: large;
  font-style: italic;
  font-weight: 500;
}
.panel-heading{
  //background-color: #9ea6b9 !important;
  //height: 20%;
  //border-radius: 15px;
}
.modalcontent{
  height: 10%;
}
:host ng-select /deep/ .ui-select-match-item span{
  color: black;
}

