<label class="text-danger control-label" style="font-size: 20px ">(*): Champ Obligatoire</label>
<br>
<div class="row">
      <form class="form-group" [formGroup]="formPerson" (submit)="onSubmit()" >
        <div class="col-md-6">
          <label class="control-label" >Nom <span class="text-danger">(*)</span></label>
          <input type="text" class="form-control" placeholder="Nom" [(ngModel)]="personneTmp.nom" formControlName="nom">
          <br>
          <label class="control-label" >Prenom</label>
          <input type="text" class="form-control" placeholder="Prenom" [(ngModel)]="personneTmp.prenom" formControlName="prenom">
          <br>
          <label class="control-label">Profession <span class="text-danger">(*)</span></label>
          <input type="text" class="form-control" placeholder="Profession" [(ngModel)]="personneTmp.profession" formControlName="profession">
          <br>
          <label class="control-label">Téléphone</label>
          <input type="text" class="form-control"  placeholder= "Téléphone" [(ngModel)]="personneTmp.telephone" formControlName="telephone">
        </div>
        <div class="col-md-6">
          <label class="control-label">Email</label>
          <input type="text" class="form-control" placeholder= "Email" [(ngModel)]="personneTmp.adresseMail" formControlName="adresseMail">
          <br>
          <label class="control-label">Code Postale</label>
          <input type="text" class="form-control" placeholder= "code postale" [(ngModel)]="personneTmp.codePostal" formControlName="codePostal">
          <br>
          <label class="control-label">Adresse</label>
          <input type="text" class="form-control" placeholder= "Adresse" [(ngModel)]="personneTmp.adresse" formControlName="adresse">
        </div>
        <div class="row ">
          <div class="col-md-8">
            <br>
            <button type="submit" [disabled]="formPerson.invalid" class="btn btn-success" style="font-size: 15px; border-radius: 10px">Valider</button>
          </div>

        </div>
      </form>
</div>

