<div class="row">
  <h4 class="col-md-12">Selectionner le domaine</h4>
  <div class="col-md-6">
    <ng-select [multiple]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
      (removed)="removed($event)" placeholder="Aucun domaine sélectionner"></ng-select>
  </div>
  <div class="col-md-6">
    <pre>{{itemsToString(value)}}</pre>
  </div>
</div>
