<div class="row">
  <div class="col-md-12">
    <card cardTitle="Officialisatio d'un Partenaire">
      <form class="form-group" (submit)="onSubmit()">
        <div class="row">



          <div class="col-md-12 col">
            <label >Ajouter les conventions puis confirmer en appuyant sur <strong>Importer Tout</strong></label>
            <div class="col-md-12">
              <h3>Pièces Jointes</h3>
              <p>
                <label for="file" class="label-file">Choisir une conventions</label>
                <input id="file" class="input-file" type="file"
                       ng2FileSelect [uploader]="uploader"
                       accept="bmp, .tiff, .gif, . jpeg, .png, .jpg, .avi, .mp4, .doc, .docx, .pdf, .ppt"
                       (onFileSelected)="fileDropped($event)" multiple>
              </p>
              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th width="45%">Nom</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue; index as i">
                  <td>{{i+1}}</td>
                  <td>
                    <strong>{{ item?.file?.name }}</strong>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger btn-xs" style="font-size: 8px; border-radius: 8px" (click)="item.remove(); officielTmp.pieceJointes.splice(i, 1)">
                      <span class="glyphicon glyphicon-trash"></span> Supprimer
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>

        </div>

        <button type="submit" class="btn btn-success" style="font-size: 15px; border-radius: 10px; margin-top: 20px;" >Valider</button>
      </form>
    </card>
  </div>
</div>
