<div class="content-wrap">
  <a routerLink="/pages/partenaire/intermediaire" *ngIf="routeTitle !== 'Gestion Partenariat'" (click)="returnHome()">Gestion de partenaire</a>
  <i *ngIf="routeTitle !== 'Dashboard'">/</i>
  <span>{{routeTitle}}</span>
</div>
