<div class="container">
  <div class="row">

    <div class="col-md-6 col-sm-8" >

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title text-center text-capitalize ">{{personne.prenom}}  {{personne.nom}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="../../../../../assets/images/profil.png" class="img-circle img-responsive"> </div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                <tr>
                  <td>Date de validation:</td>
                  <td>{{personne?.dateValidationSuggestion| date:'dd/MM/yyyy: HH:mm'}} </td>
                </tr>
                <tr>
                  <td>Profession</td>
                  <td>{{personne?.profession}} </td>
                </tr>
                <tr>
                  <td>Addresse</td>
                  <td>{{personne?.adresse}}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{personne?.adresseMail}}</td>
                </tr>
                <tr>
                  <td>Telephone</td>
                  <td>{{personne?.telephone}}
                  </td>

                </tr>

                </tbody>
              </table>

              <a  class="btn btn-primary" (click)="onValidate()" >Demarrer Partenariat</a>
              <a  class="btn btn-danger" (click)="onDelete()">Enlever de la liste</a>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <span class="pull-right">
            <button (click)="openNewModal()" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></button>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>

