<div class="row" >
  <div class="col-md-12">
    <card cardTitle="GUEULE CA">
      <table class="table new-table-bordered table-hover">
        <thead>
        <tr>
          <th>NUMERO</th>
          <th>NOM</th>
          <th>DATE DE DEBUT DU PARTENARIAT</th>
          <th>ADRESSE MAIL</th>
          <th>TELEPHONE</th>
          <th>STATE</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of intermediairesPer | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber} ;let index = index">

          <td>{{index + 1 }}</td>
          <td>{{item?.cible?.nom}}</td>
          <td>{{item?.dateDebutPartenariat | date: 'dd-MM-yyyy'}}</td>
          <td>{{item?.cible?.adresseMail}}</td>
          <td> {{item?.cible?.telephone}}</td>
          <td>
            <a class="label label-info btn" (click)="onDetail(item.idCible, 'personne')">info</a>
          </td>

        </tr>

        </tbody>
      </table>
      <form class="pagination-wrapper">
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                               autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                               screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">Per Page</span>
          </div>
        </div>
      </form>
    </card>
  </div>

</div>
