
    <label class="text-danger control-label" style="font-size: 20px ">(*): Champ Obligatoire</label>
<form class="form-group" [formGroup]="formEntreprise" (submit)="onSubmit()">
  <div class="row">
    <div class="col-md-6">
      <label class="control-label" ><h4>Nom <span class="text-danger">(*)</span></h4></label>
      <input type="text" class="form-control" placeholder="Nom" [(ngModel)]="entrepriseTmp.nomEntreprise" formControlName="nomEntreprise">
      <br>
      <label class="control-label"><h4>Téléphone</h4></label>
      <input type="text" class="form-control"  placeholder= "Téléphone" [(ngModel)]="entrepriseTmp.telephone" formControlName="telephone">
      <br>
      <label class="control-label"><h4>Email</h4></label>
      <input type="text" class="form-control" placeholder= "Email" [(ngModel)]="entrepriseTmp.adresseMail" formControlName="adresseMail">
      <br>
      <label class="control-label"><h4>Code Postale</h4></label>
      <input type="text" class="form-control" placeholder= "code postale" [(ngModel)]="entrepriseTmp.codePostal" formControlName="codePostal">
      <br>
      <label class="control-label"><h4>Adresse</h4></label>
      <input type="text" class="form-control" placeholder= "Adresse" [(ngModel)]="entrepriseTmp.adresse" formControlName="adresse">
    </div>
    <div class="col-md-6">
      <label class="control-label"><h4>Site Internet</h4></label>
      <input type="text" class="form-control" placeholder= "Site Internet" [(ngModel)]="entrepriseTmp.siteInternet" formControlName="siteInternet">
      <br>
      <label class="control-label"><h4>Taille Entreprise <span class="text-danger">(*)</span></h4></label>
      <select [(ngModel)]="entrepriseTmp.tailleEntreprise"  id="Taille" class="form-control" [compareWith]="compareTaille" formControlName="tailleEntreprise" >
        <option [ngValue]="null">Choisir...</option>
        <ng-container *ngFor="let taille of allTailles">
          <option *ngIf="taille.max !== 1000" [ngValue]="taille">{{taille.min}}-{{taille.max}}</option>
          <option *ngIf="taille.max === 1000" [ngValue]="taille">{{taille.min}} ++</option>
        </ng-container>

      </select>
      <br>
      <label class="control-label"><h4>Domaine <span class="text-danger">(*)</span></h4></label>
      <br>
      <label class="label label-warning" (click)="doAddDomaine()">Ajouter un nouveau domaine</label>
      <select [(ngModel)]="domaine" name="select" id="domaine" class="form-control" [compareWith]="compare" (change)="setItems()" formControlName="domaine" >
        <option [ngValue]="null">Choisir...</option>
        <option *ngFor="let d of domaines" [ngValue]="d">{{d.nomDomaine}}</option>
      </select>

      <br>
      <div *ngIf="(domaine || value?.length!==0) && reload">
        <label class="control-label"><h4>Sous-domaine(s) <span class="text-danger">(*)</span></h4></label>
        <br>
        <label class="label label-info" (click)="addSousDomaine()">Ajouter un nouveau sous domaine</label>
        <ng-select style="border-radius: 150px" [allowClear]="true"  [multiple]="true" [items]="items" [disabled]="disabled" [active]="value" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)"
                   placeholder="Sous domaine">

        </ng-select>
      </div>
    </div>
  </div>
  <div class="row col-md-8">
    <br>
    <button type="submit" [disabled]="!formEntreprise.valid || value.length === 0" class="btn btn-success" style="font-size: 15px; border-radius: 10px">valider</button>
  </div>

</form>
<modal #domaineForm >
  <modal-header class="modalheader" >
    <div class="">
      <h3>Ajouter un nouveau domaine</h3>
    </div>
  </modal-header>
  <modal-content>
    <div class="modalcontent">
      <br>
      <br>
      <br>
      <app-domaineForm (back)="domaineForm.close(); fixerDomaine($event)"></app-domaineForm>
      <br>
      <br>
      <br>
    </div>

  </modal-content>
</modal>

<modal #sousDomaineForm modalClass="modal-md" >
  <modal-header >
    <div class="modalheader panel panel-heading" >
      <h3>Ajouter un sous-domaine</h3>
    </div>
  </modal-header>
  <modal-content>
    <div class=modalcontent>

      <br>
      <app-sousDomaineForm [domaine]="domaine" (back)="sousDomaineForm.close(); addValue($event)"></app-sousDomaineForm>
      <br>

    </div>
  </modal-content>
  <modal-footer></modal-footer>
</modal>






