<div class="body" >
<h1 class="top">Reunion avec le DG de people INPUT</h1>
  <h1>Il reste</h1>

<div id="clockdiv" >
 <div>
  <span id="day" >
  </span>
   <div class="smalltext">Days</div>

 </div>
<div>
  <span id="heures" >

  </span>
  <div class="smalltext">HOURS</div>

</div>

<div>
  <span id="minutes"></span>
  <div class="smalltext">Minutes</div>

</div>
  <div>
  <span id="second" class="countSeconds"></span>
    <div class="smalltext">Seconds</div>

  </div>
</div>
</div>
