.body{
  text-align: center;
  word-wrap: break-word;
  background: #26253c;
  font-family: sans-serif;
  font-weight: 100;
  border-radius: 30px;
}
.top {
  padding-top: 15px;

}
h1{
  color: #fff;
  font-weight: 100;
  font-size: 20px;
  margin: 10px 0px 5px;
}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 15px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #fca400;
  display: inline-block;
  margin-bottom: 15px;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #26253c;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 13px;
}
