<div *ngIf="isEntreprise" class="row">

      <div class="col-md-3 animated fadeIn">
        <div class="card card-block tip-card">
          <div class="tip-msg">
            <h3>Representants</h3>
            <span>Ajouter representant <i class="fa fa-plus icon-action-warning"></i></span>
          </div>
          <button class="tip-ico tip-ico-primary " (click)="addRepresentant(representantModal)">
            <i class="fa fa-user fa-fw"></i>
          </button>
          <!-- tip-ico-primary-->
        </div>
      </div>


      <div class="col-md-3 animated fadeIn">
        <div class="card card-block tip-card">
          <div class="tip-msg">
            <h3>Appels</h3>
            <span>Ajouter Appel <i class="fa fa-plus icon-action-primary"></i></span>
          </div>
          <button class="tip-ico tip-ico-info"  data-toggle="tab" (click)="addApp(appelModal)">
            <i class="fa fa-phone fa-fw"></i>
          </button>
        </div>
      </div>

      <div class="col-md-3 animated fadeIn" >
        <div class="card card-block tip-card">
          <div class="tip-msg">
            <h3>Mails</h3>
            <span>Ajouter mail <i class="fa fa-plus icon-action-success"></i></span>
          </div>
          <button class="tip-ico tip-ico-success"  (click)="addmail(mailModal)">
            <i class="fa fa-envelope fa-fw"></i>
          </button>
        </div>
      </div>
      <div class="col-md-3 animated fadeIn">
        <div class="card card-block tip-card">
          <div class="tip-msg">
            <h3>Reunions</h3>
            <span>Ajouter reunion <i class="fa fa-plus icon-action-danger"></i></span>
          </div>
          <button class="tip-ico tip-ico-danger" (click)="addreunion(reunionModal)">
            <i class="fa fa-users fa-fw"></i>
          </button>
        </div>
      </div>

</div>

<div *ngIf="isProfessionel" class="row">



  <div class=" col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Appels</h3>
        <span>Ajouter Appel <i class="fa fa-plus icon-action-primary"></i></span>
      </div>
      <button class="tip-ico tip-ico-info" id="type" data-toggle="tab" (click)="addApp(appelModal)">
        <i class="fa fa-phone fa-fw"></i>
      </button>
    </div>
  </div>

  <div class="col-md-3 animated fadeIn" >
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Mails</h3>
        <span>Ajouter mail <i class="fa fa-plus icon-action-success"></i></span>
      </div>
      <button class="tip-ico tip-ico-success" id="localites" (click)="addmail(mailModal)">
        <i class="fa fa-envelope fa-fw"></i>
      </button>
    </div>
  </div>

  <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Rencontre</h3>
        <span>Ajouter rencontre <i class="fa fa-plus icon-action-danger"></i></span>
      </div>
      <button class="tip-ico tip-ico-danger" (click)="addreunion(reunionModal)">
        <i class="fa fa-users fa-fw"></i>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <!--      Wizard container        -->
    <div class="wizard-container" >
      <div class="card wizard-card" data-color="green" id="wizard">
        <form>
          <!--        You can switch " data-color="green" "  with one of the next bright colors: "blue", "azure", "orange", "red"       -->

          <div class="wizard-header">
            <h3 class="wizard-title">PROJET DE PARTENARIAT <strong>{{entrepriseDetail?.nomEntreprise}}</strong> </h3>
            <p class="category">Information sur l'évolution du partenariat</p>
          </div>
          <div class="wizard-navigation">
            <div class="progress-with-circle">
              <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;"></div>
            </div>
            <ul>
              <li>
                <a href="#info" data-toggle="tab">
                  <div class="icon-circle">
                    <i class="ti-info-alt"></i>
                  </div>
                  Info
                </a>
              </li>
              <li>
                <a href="#appel" data-toggle="tab">
                  <div class="icon-circle">
                    <i class="ti-headphone-alt"></i>
                  </div>
                  Appels
                </a>
              </li>
              <li>
                <a href="#mail" data-toggle="tab">
                  <div class="icon-circle">
                    <i class="ti-email"></i>
                  </div>
                  Mails
                </a>
              </li>
              <li *ngIf="isEntreprise">
                <a  href="#reunion" data-toggle="tab">
                  <div class="icon-circle">
                    <i class="ti-panel"></i>
                  </div>
                  Reunions
                </a>
              </li>
              <li *ngIf="isProfessionel">
                <a href="#reunion" data-toggle="tab">
                  <div class="icon-circle">
                    <i class="ti-panel"></i>
                  </div>
                  Rencontres
                </a>
              </li>
              <li *ngIf="isEntreprise">
                <a href="#representant" data-toggle="tab">
                  <div class="icon-circle">
                    <i class="ti-user"></i>
                  </div>
                  Representants
                </a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <!-- premier -->
            <div class="tab-pane" id="info">
              <div class="row">
                <div class="col-md-12">
                  <card cardTitle="Partenaire Intermédiaire">
                    <div class="row">
                    <card class="col-md-6">
                      <div>
                        <h2> Partenaire {{getStatutPartenaire(isOfficiel)}}</h2>

                          <div *ngIf="isValid; else perso" class="table-responsive">
                            <table class="table table-user-information">
                              <tbody>
                              <tr *ngIf="isOfficiel">
                                <td class="profil">
                                  <strong>Date officialisation</strong>
                                </td>
                                <td class="profil" >
                                  {{officielEntreprise?.dateOfficialisation | date:'d MMMM yyyy HH:mm': '' : 'fr'  }}
                                </td>

                              </tr>
                              <tr *ngIf="isOfficiel">
                                <td class="profil">
                                  <strong>Conventions à l'officialisation</strong>
                                </td>
                                <td class="profil" >
                                  <div *ngFor="let ut of officielEntreprise?.pieceJointes">
                                    <a href="{{openSite(ut?.url)}}" target="_blank">{{ut?.nom}}</a>
                                  </div>
                                </td>

                              </tr>
                              <tr>
                                <td class="profil"><strong>Libellé</strong> </td>
                                <td class="profil">{{entrepriseDetail?.nomEntreprise}}</td>
                              </tr>
                              <tr>

                                <td class="profil"><strong>Domaine</strong></td>
                                <td class="profil"> <div *ngFor="let domaine of entrepriseDetail?.sousDomaines" >{{domaine?.libelle}}</div></td>
                              </tr>
                              <tr>
                                <td class="profil" ><strong>Site Web</strong> </td>
                                <td class="profil"><a href="{{openSite(entrepriseDetail?.siteInternet)}}" target="_blank">{{entrepriseDetail?.siteInternet}}</a></td>
                              </tr>
                              <tr>
                                <td  class="profil"><strong>Email</strong> </td>
                                <td class="profil">{{entrepriseDetail?.adresseMail}}</td>
                              </tr>
                              <tr>
                                <td class="profil"><strong>Siége Social</strong></td>
                                <td class="profil"> {{entrepriseDetail?.adresse}}</td>
                              </tr>
                              <tr>
                                <td class="profil"><strong>Taille entreprise</strong></td>
                                <td class="profil" >
                                  <ng-container  *ngIf="entrepriseDetail?.tailleEntreprise?.max!==1000">
                                    <span >
                                      {{entrepriseDetail?.tailleEntreprise?.min}}-{{entrepriseDetail?.tailleEntreprise?.max}}
                                    </span>
                                  </ng-container>
                                  <ng-container  *ngIf="entrepriseDetail?.tailleEntreprise?.max===1000">
                                    <span >
                                      {{entrepriseDetail?.tailleEntreprise?.min}} ++
                                    </span>
                                  </ng-container>
                                </td>
                              </tr>
                              <tr>
                                <td class="profil"><strong>Téléphone</strong></td>
                                <td class="profil">{{entrepriseDetail?.telephone}}</td>
                              </tr>
                              <tr>
                                <td class="profil"><strong>Nombre de Representants</strong></td>
                                <td class="profil">{{entrepriseDetail?.representants.length}}</td>
                              </tr>
                              <tr>
                                <td class="profil">
                                  <button (click)="EntrepriseFormModal.open()" class="btn  btn-default">Modifier</button>
                                </td>
                                <td class="profil" ><button *ngIf="!isOfficiel" class="btn btn-info" (click)="addOfficiel(officielModal)">Officialiser</button></td>

                              </tr>

                              </tbody>
                            </table>

                          </div>
                          <ng-template #perso class="table-responsive">
                            <table class="table table-user-information">

                              <tbody>
                              <tr *ngIf="isOfficiel">
                                <td>
                                  <strong>Date officialisation</strong>
                                </td>
                                <td>
                                  :
                                </td>
                                <td>
                                  {{officielPersonne?.dateOfficialisation | date:'d MMMM yyyy HH:mm ': '' : 'fr'}}
                                </td>

                              </tr>
                              <tr *ngIf="isOfficiel">
                                <td>
                                  <strong>Conventions à l'officialisation</strong>
                                </td>
                                <td>
                                  :
                                </td>
                                <td>
                                  <div *ngFor="let ut of officielPersonne?.pieceJointes">
                                    <a href="{{openSite(ut?.url)}}" target="_blank">{{ut?.nom}}</a>
                                  </div>
                                </td>

                              </tr>
                              <tr>
                                <td><strong>Prenom </strong></td>
                                <td>:</td>
                                <td>{{personneDetail?.prenom}}</td>
                              </tr>
                              <tr>
                                <td><strong>Nom</strong></td>
                                <td>:</td>
                                <td>{{personneDetail?.nom}}</td>
                              </tr>
                              <tr>
                                <td><strong>Profession</strong></td>
                                <td>:</td>
                                <td>{{personneDetail?.profession}}</td>
                              </tr>
                              <tr>
                                <td><strong>Telephone</strong></td>
                                <td>:</td>
                                <td>{{personneDetail?.telephone}}</td>
                              </tr>
                              <tr>
                                <td><strong>Adresse Mail</strong></td>
                                <td>:</td>
                                <td>{{personneDetail?.adresseMail}}</td>
                              </tr>
                              <tr>
                                <td><strong>Adresse</strong></td>
                                <td>:</td>
                                <td>{{personneDetail?.adresse}}</td>
                              </tr>
                              <tr>
                                <td ><button (click)="PersonneFormModal.open()" class="btn  btn-default">Modifier</button></td>
                                <td>:</td>
                                <td ><button *ngIf="!isOfficiel" class="btn btn-info" (click)="addOfficiel(officielModal)">Officialiser</button></td>
                              </tr>

                              </tbody>
                            </table>
                          </ng-template>


                        </div>
                    </card>
                    <card class="col-md-6" cardTitle="Evolution des échanges ({{dateYearCourante.getFullYear()}}) ">
                      <div *ngIf="dataReadyA">
                        <div *ngIf="dataReadyM">
                            <div *ngIf="dataReadyR" style="display: block">
                              <canvas baseChart
                                      [datasets]="barChartData"
                                      [labels]="barChartLabels"
                                      [options]="barChartOptions"
                                      [legend]="barChartLegend"
                                      [chartType]="barChartType"
                                      (chartHover)="chartHovered($event)"
                              ></canvas>
                            </div>
                        </div>
                      </div>
                    </card>
                    </div>

                  </card>
                </div>






              </div>
            </div> <div class="tab-pane" id="appel">
            <div class="row">







              <div class="col-md-12">
                <card cardTitle="Echange d'appels" class="table-responsive">
                  <div style="overflow-x:auto; width: 100% ">
                    <table class="table new-table-bordered table-hover">
                      <thead>
                      <tr>
                        <th *ngIf="isProfessionel">Prenom Professionel</th>
                        <th *ngIf="isProfessionel">Nom Professionel</th>
                        <th *ngIf="isEntreprise">Réprésentant de l'organisation</th>
                        <th *ngIf="isEntreprise">Numéro du représentant</th>
                        <th>Objectifs</th>
                        <th>Interlocuteur de l'ISEP</th>
                        <th>Numéro de l'interlocuteur</th>
                        <th>Statut</th>
                        <th>Résumé de l'appel</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of appels | paginate: { id: 'pagerA', itemsPerPage: pageSize, currentPage: ap};let index = index" >
                        <td *ngIf="isProfessionel">{{personneDetail?.prenom}}</td>
                        <td *ngIf="isProfessionel">{{personneDetail?.nom}}</td>
                        <td *ngIf="isEntreprise">{{item?.representant?.prenom}} {{item?.representant?.nom}}</td>
                        <td *ngIf="isEntreprise">{{item?.representant?.tel}}</td>
                        <td><div *ngFor="let objectif of item?.objectif">{{objectif}}</div></td>
                        <td>{{item?.nom}}</td>
                        <td>{{item?.numero}}</td>
                        <td>{{getstatut(item?.etat)}}</td>
                        <td>
                          <a> <span class="label label-info" style="cursor: pointer" (click)="openText(resumeText, item?.resume)">consulter</span></a>
                        </td>
                        <td><a><i class="fa fa-edit  icon-action-warning" style="cursor: pointer" (click)="openModal(appelModal, item, 'appel')"></i></a>/<a (click)="onDelete(id, item)"><i class="fa fa-trash icon-action-danger" style="cursor: pointer"></i></a></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                  <form class="pagination-wrapper">
                    <div class="form-group pages">
                      <pagination-controls class="my-pagination" id="pagerA" (pageChange)="ap=$event" maxSize="9" directionLinks="true"
                                           autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                           screenReaderCurrentLabel="You're on page">
                      </pagination-controls>
                    </div>
                    <div class="form-group options pages">
                      <div class="input-group input-group-sm">
                        <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
                          <option>1</option>
                          <option>2</option>
                          <option>5</option>
                        </select>
                        <span class="input-group-addon addon-right">Taille de la liste</span>
                      </div>
                    </div>
                  </form>
                </card>
              </div>





            </div>
          </div>
            <!-- fin premier -->
            <div class="tab-pane" id="mail">
              <div class="row">
                <card cardTitle="Echanges de Mails">
                  <div style="overflow-x:auto; width: 100% ">
                    <table class="table new-table-bordered table-hover">
                      <thead>
                      <tr>
                        <th *ngIf="isProfessionel">Prenom Professionel</th>
                        <th *ngIf="isProfessionel">Nom Professionel</th>
                        <th *ngIf="isEntreprise">Nom du Representant</th>
                        <th *ngIf="isEntreprise">adresse email du représentant</th>
                        <th>Objectifs</th>
                        <th>Objet du mail</th>
                        <th>Résumé</th>
                        <th>Piece Jointe</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of mails | paginate: { id: 'pagerM', itemsPerPage: pageSize, currentPage: p};let index = index" >
                        <td *ngIf="isEntreprise">{{item?.representant?.prenom}} {{item?.representant?.nom}}</td>
                        <td *ngIf="isEntreprise">{{item?.representant?.email}}</td>
                        <td *ngIf="isProfessionel">{{personneDetail?.prenom}}</td>
                        <td *ngIf="isProfessionel">{{personneDetail?.nom}}</td>
                        <td><div *ngFor="let objectif of item?.objectif">{{objectif}}</div></td>
                        <td>{{item?.objetMail}}</td>
                        <td>
                          <a>  <span style="cursor: pointer;" class="label label-info" (click)="openText(resumeText, item?.contenu)">consulter</span></a>
                        </td>
                        <td ><div *ngFor="let ut of item?.pieceJointes"><a href="{{openSite(ut?.url)}}" target="_blank">{{ut?.nom}}</a></div></td>
                        <td><a><i class="fa fa-edit  icon-action-warning" style="cursor: pointer" (click)="openModal(mailModal, item, 'mail')"></i></a>/<a (click)="onDelete(id, item)"><i class="fa fa-trash icon-action-danger " style="cursor: pointer"></i></a></td>

                      </tr>
                      </tbody>
                    </table>

                  </div>
                  <form class="pagination-wrapper">
                    <div class="form-group pages">
                      <pagination-controls class="my-pagination" id="pagerM" (pageChange)="p=$event" maxSize="9" directionLinks="true"
                                           autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                           screenReaderCurrentLabel="You're on page">
                      </pagination-controls>
                    </div>
                    <div class="form-group options pages">
                      <div class="input-group input-group-sm">
                        <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
                          <option>1</option>
                          <option>2</option>
                          <option>5</option>
                        </select>
                        <span class="input-group-addon addon-right">Taille de la liste</span>
                      </div>
                    </div>
                  </form>
                </card>
              </div>
            </div>
            <div class="tab-pane" id="reunion">
              <div class="row">


                <card cardTitle="Réunions tenues">
                  <div style="overflow-x:auto; width: 100%">
                    <table class="table new-table-bordered table-hover">
                      <thead>
                      <tr>
                        <th >
                          Numero
                        </th>
                        <th [class]="order === 'objectif'" (click)="setOrder('objectif')">
                          Objectifs
                        </th>
                        <th>Ordre du Jours</th>
                        <th>Piéce Jointe</th>
                        <th [class]="order === 'lieuEvenement'" (click)="setOrder('lieuEvenement')">
                          Lieu
                        </th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of reunions | orderBy: order :reverse|filterTable:filtercolumn | paginate: { id: 'pagerR', itemsPerPage: pageSize, currentPage: re};let index = index" >
                        <td>{{index + 1}}</td>
                        <td><div *ngFor="let objectif of item?.objectif">{{objectif}}</div></td>
                        <td><div *ngFor="let ordre of item?.ordreDuJour">{{ordre}}</div></td>
                        <td><div *ngFor="let ut of item?.pieceJointes"><a href="{{openSite(ut?.url)}}" target="_blank">{{ut?.nom}}</a></div></td>

                        <td>
                          {{item?.lieuEvement}}
                        </td>
                        <td><a><i class="fa fa-edit  icon-action-warning" style="cursor: pointer" (click)="openModal(reunionModal, item, 'reunion')"></i></a>/<a (click)="onDelete(id, item)"><i class="fa fa-trash icon-action-danger " style="cursor: pointer"></i></a></td>

                      </tr>
                      </tbody>
                    </table>
                  </div>

                  <form class="pagination-wrapper">
                    <div class="form-group pages">
                      <pagination-controls class="my-pagination" id="pagerR" (pageChange)="re=$event" maxSize="9" directionLinks="true"
                                           autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                           screenReaderCurrentLabel="You're on page">
                      </pagination-controls>
                    </div>
                    <div class="form-group options pages">
                      <div class="input-group input-group-sm">
                        <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
                          <option>1</option>
                          <option>2</option>
                          <option>5</option>
                        </select>
                        <span class="input-group-addon addon-right">Taille de la liste</span>
                      </div>
                    </div>
                  </form>
                </card>

              </div>
            </div>
            <div class="tab-pane" id="representant">
              <div class="row">
                <card cardTitle="INFO sur les représentants">
                  <div style="overflow-x:auto; width: 100%">
                    <table class="table new-table-bordered  table-hover">
                      <thead>
                      <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Fonction</th>
                        <th>Mail </th>
                        <th>Numero de Téléphone</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of entrepriseDetail?.representants | paginate: { id: 'pagerRe', itemsPerPage: pageSize, currentPage: rep};let index = index" >
                        <td>{{item?.nom}}</td>
                        <td>{{item?.prenom}}</td>
                        <td>{{item?.fonction}}</td>
                        <td>{{item?.email}}</td>
                        <td>{{item?.tel}}</td>
                        <td><a><i class="fa fa-edit  icon-action-warning" style="cursor: pointer" (click)="openModal(representantModal, item, 'rep')"></i></a>/<a ><i class="fa fa-trash icon-action-danger " style="cursor: pointer" (click)="onDeleteRep(id, item)"></i></a></td>

                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <form class="pagination-wrapper">
                    <div class="form-group pages">
                      <pagination-controls class="my-pagination" id="pagerRe" (pageChange)="rep=$event" maxSize="9" directionLinks="true"
                                           autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                           screenReaderCurrentLabel="You're on page">
                      </pagination-controls>
                    </div>
                    <div class="form-group options pages">
                      <div class="input-group input-group-sm">
                        <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
                          <option>1</option>
                          <option>2</option>
                          <option>5</option>
                        </select>
                        <span class="input-group-addon addon-right">Taille de la liste</span>
                      </div>
                    </div>
                  </form>
                </card>

              </div>
            </div>
          </div>

        </form>
      </div>
    </div> <!-- wizard container -->
  </div>
</div> <!-- row -->


<modal #representantModal (onClose)="onClose()">
  <modal-content>
    <app-representantForm [entreprise]="entrepriseDetail" (back)="closeParent(representantModal, $event)" [representant]="representant"></app-representantForm>
  </modal-content>
</modal>

<modal #appelModal (onClose)="onClose()"  modalClass="modal-lg"  >
  <modal-header>
   <h4 class="text-info" style="text-align: center; text-decoration: underline;">Enregistrer appel</h4>
  </modal-header>
  <modal-content>
    <app-form-appel [type]="type" [id]="id" [defaultContent]="defaultContent" [entreprise]="entrepriseDetail"  [isReady]="isOpened" (back)="closeParent(appelModal, $event)" [isChangeA]="isChange" [appels]="appels" [representants]="entrepriseDetail?.representants" [appel]="appel"  ></app-form-appel>
  </modal-content>
</modal>

<modal #mailModal (onClose)="onClose()"  modalClass="modal-lg">
  <modal-header>
    <h4 class="text-success" style="text-align: center; text-decoration: underline;">Enregistrer mail</h4>
  </modal-header>
  <modal-content>
    <app-form-mail [type]="type" [id]="id" [defaultContent]="defaultContent" [entreprise]="entrepriseDetail" [isReady]="isOpened" [isChangeM]="isChange" [mails]="mails" (back)="closeParent(mailModal, $event)" [representants]="entrepriseDetail?.representants" [mail]="mail"   ></app-form-mail>

  </modal-content>
</modal>

<modal #reunionModal (onClose)="onClose()"  modalClass="modal-lg">
  <modal-header>
    <h4 class="text-danger" style="text-align: center; text-decoration: underline;">Enregistrer reunion</h4>
  </modal-header>
  <modal-content>
    <app-form-reunion *ngIf="isOpened" [id]="id" [defaultContent]="defaultContent" [isReady]="isOpened" [reunions]="reunions" [isChangeR]="isChange" (back)="closeParent(reunionModal, $event)" [reunion]="reunion" ></app-form-reunion>
  </modal-content>
</modal>
<modal #resumeText (onClose)="onClose()"  modalClass="modal-md">
  <modal-content>
      <app-detail [defaultContent]="defaultContent"></app-detail>
  </modal-content>
</modal>

<modal #officielModal (onClose)="onClose()">

  <modal-content>
    <app-form-officiel [officiel]="officiel" [type]="type" [id]="id"></app-form-officiel>
  </modal-content>
</modal >
<modal #EntrepriseFormModal (onClose)="onClose()" modalClass="modal-lg">

  <modal-content>
    <app-entrepriseForm [entreprise]="entrepriseDetail" [value]="value" (back)="refereshEntreprise($event); EntrepriseFormModal.close() "></app-entrepriseForm>
  </modal-content>
</modal>
<modal #PersonneFormModal (onClose)="onClose()" modalClass="modal-lg">
  <modal-content>
    <app-personneForm [personne]="personneDetail" (back)="refereshPersonne($event); PersonneFormModal.close()"></app-personneForm>
  </modal-content>
</modal>
