
<div class="container center-block ">
  <div class="row">

    <div class="col-md-6 col-sm-8" >

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title text-center text-capitalize ">{{entreprise?.nomEntreprise}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="../../../../../assets/images/groupeProfil.png" class="img-circle img-responsive"> </div>
            <div class=" col-md-9 col-lg-9 table-responsive">
              <table class="table table-user-information ">
                <tbody>
                <tr>
                  <td style="font-weight: bold">Date de validation</td>
                  <td>{{entreprise?.dateValidationSuggestion| date:'dd/MM/yyyy: HH:mm'}} </td>
                </tr>
                <tr>
                  <td>Nom Organisation</td>
                  <td>{{entreprise?.nomEntreprise}} </td>
                </tr>
                <tr>
                  <td>Domaine</td>
                  <td >
                    <a href="" *ngFor="let sousDomaine of entreprise?.sousDomaines" style="color: black">
                      {{sousDomaine?.libelle}}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Addresse</td>
                  <td>{{entreprise?.adresse}}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{entreprise?.adresseMail}}</td>
                </tr>
                <tr>
                  <td>Telephone</td>
                  <td>{{entreprise?.telephone}}
                  </td>

                </tr>
                <tr>
                  <td>Site internet</td>
                  <td><a href="{{entreprise?.siteInternet}}">{{entreprise?.siteInternet}}</a> </td>

                </tr>
                <tr>
                  <td>Taille entreprise</td>
                  <td>
                    <ng-container  *ngIf="entreprise?.tailleEntreprise?.max!==1000">
                  <span >
                    {{entreprise?.tailleEntreprise?.min}}-{{entreprise?.tailleEntreprise?.max}}
                  </span>
                    </ng-container>
                    <ng-container  *ngIf="entreprise?.tailleEntreprise?.max===1000">
                  <span >
                    {{entreprise?.tailleEntreprise?.min}} ++
                  </span>
                    </ng-container>
                  </td>
                </tr>
                <tr>
                  <td>Code Postal</td>
                  <td>{{entreprise?.codePostal}} </td>

                </tr>
                <tr>
                  <td class="col-md-6">
                    <a  class="btn btn-danger " (click)="onDelete()">Enlever de la liste</a>

                  </td>
                  <td class="col-md-6">
                    <a  class="btn btn-primary " (click)="onValidate()" >Demarrer Partenariat</a>

                  </td>
                </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button (click)="openNewModal()" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning pull-right"><i class="glyphicon glyphicon-edit"></i></button>
        </div>

      </div>
    </div>
  </div>
</div>

