<div class="my-container">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
    </div>
  </ng-template>
  <!--<ngx-loading [show]="prospectStorage.loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>-->
  <loading [loading]="prospectStorage.loading"></loading>
</div>
<div class="row">

  <card cardTitle="Liste Prospection" >
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <div class="row">
            <div *ngFor="let sousDomaine of sousDomaines"class="col-md-2">
              <input class="checkbox" type="checkbox" id="{{sousDomaine?.idSousDomaine}}"  [value]="sousDomaine" (click)="clickFilter(sousDomaine,$event)" checked>
              <label class="check-label" for="{{sousDomaine?.idSousDomaine}}">{{sousDomaine.libelle}}</label>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4" style="padding-bottom: 20px;">
        <div class="search-group">
          <input type="text" class="search-input" placeholder="Rechercher" [(ngModel)]="filter" (keyup)="filterDefineColumn()">
          <button class="search-btn">
            <i class="fa fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>
    <div style="overflow-x: auto">
    <table class="table new-table-bordered table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th [class.active]="order === 'nomEntreprise'" (click)="setOrder('nomEntreprise')" >
          Libellée
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </th>
        <th [class.active]="order === 'domaine'" (click)="setOrder('domaine')">
          Secteur
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </th>
        <th [class.active]="order === 'taille'" (click)="setOrder('taille')">Taille
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </th>
        <th [class.active]="order === 'adresse'" (click)="setOrder('adresse')">Adresse
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </th>
        <th [class.active]="order === 'siteWeb'" (click)="setOrder('siteWeb')">Site_Web
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </th>
        <th [class.active]="order === 'apropos'" (click)="setOrder('apropos')">A_propos
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let prospection of prospections | orderBy: order :reverse|filterTable:filtercolumn  | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber}; let index = index">
        <td>{{index+1}}</td>
        <td>{{prospection?.nomEntreprise}}</td>
        <td>{{prospection?.secteur}}</td>
        <td>{{prospection?.taille}}</td>
        <td>{{prospection?.adresse}}</td>
        <td [innerHTML]="prospection?.siteWeb"></td>
        <td><button class="btn btn-info" style="font-size: 10px; border-radius: 10px" (click)="openModal(info, prospection?.apropos, prospection?.nomEntreprise)">Description</button></td>
        <td><button class="btn btn-success" style="border-radius: 10px" (click)="openModalCible(formEntrepriseModal, prospection)">Cibler</button></td>
      </tr>
      </tbody>
    </table>
    </div>


    <form class="pagination-wrapper">
      <div class="form-group pages">
        <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                             autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                             screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
      <div class="form-group options pages">
        <div class="input-group input-group-sm">
          <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize">
            <option>1</option>
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
          </select>
          <span class="input-group-addon addon-right" style="background: #26253c;">Page List</span>
        </div>
      </div>
    </form>
  </card>

</div>



<modal #info>
  <modal-header>
    <h3>{{titleSelected}}</h3>
  </modal-header>
  <modal-content>
    <p [innerHTML]="aProposSelected" style="padding-left: 22px"></p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-danger" style="font-size: 10px; border-radius: 10px" (click)="closeModal(info)">Fermer</button>
  </modal-footer>
</modal>

<modal #formEntrepriseModal [closeOnEscape]="false" [closeOnOutsideClick]="false" modalClass="modal-lg" >
  <modal-header>
    <h5>Completez le formulaire de ciblage de l'organisation: <span style="font-family: 'Monotype Corsiva'; color: #26253c; font-size: 30px;">{{nomSelected}}</span></h5>
  </modal-header>
  <modal-content>
    <app-entrepriseForm (back)="closeForm(formEntrepriseModal)" [entreprise]="entreprise"></app-entrepriseForm>
  </modal-content>
  <modal-footer>
    <button class="btn btn-danger" style="font-size: 10px; border-radius: 10px" (click)="closeModal(formEntrepriseModal)">Fermer</button>
  </modal-footer>
</modal>


