<div class="row">
  <div class="col-md-6">
    <card *ngFor="let representant of respresentants">
      <table>
         <tr>
           <td>Nom </td>
           <td>{{representant?.prenom}}{{representant?.nom}}</td>
         </tr>
        <tr>
          <td>Numero telephone</td>
          <td>{{representant?.tel}}</td>
        </tr>
        <tr>
          <td>email</td>
          <td>{{representant?.adresse}}</td>
        </tr>
      </table>
    </card>
  </div>
</div>
